@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index.scss";

body {
  font-family: "Oswald", Courier, monospace;
  font-weight: 300;
}

$root-font-size: 16px;
@function rem($size) {
  @return $size / $root-font-size * 1rem;
}

html {
  font-size: 13px;
}

#app {
  overflow: hidden;
  min-width: 320px;
}

$blue-1: #00bbf2;
$blue-2: #009fda;
$blue-3: #63bef3;

$black: #231f20;

$gray-1: #515151;
$gray-2: #a7a9ac;
$gray-3: #e6e7e8;
$gray-4: #efeff0;
$gray-5: #bcbec0;
$gray-6: #ededed;
$gray-7: #808080;

/* UTILS */

span {
  &.h4 {
    font-size: 1.2rem;
    display: block;
    font-weight: 400;
  }

  &.h3 {
    font-size: 1rem;
    display: block;
  }

  &.h2 {
    font-size: 1.5rem;
    display: block;
  }
}

.bottom-offer {
  min-height: 100%;
}

.selected {
  opacity: 0.7;
}

.white {
  color: $gray-4;
}

.blue-1 {
  color: $blue-1;
  a {
    color: $blue-1;
    &:hover {
      opacity: 0.6;
      text-decoration: none;
    }
  }
}

.blue-2 {
  color: $blue-2;
}

.gray {
  color: $gray-5;
}

.skew {
  transform: skewX(0deg);
  display: inline-block;

  > * {
    transform: skewX(0deg);
    display: inline-block;
  }
}

.bbtn {
  cursor: pointer;
  padding: rem(15px) rem(63px) rem(19px);
  font-size: 1.3rem;
  font-weight: 400;

  &.blue {
    background-color: $blue-2;
    color: white;
    &:hover {
      background-color: $blue-3;
    }
  }

  &.main-search-button {
    width: 100%;
    text-align: center;
  }
  &.grey{
    background: $gray-6;
    color: #7F7E7C;
    &:hover{
      background: $gray-3;
    }
  }
}
a:hover span.h3{
  color: #0056b3;
}

ul.blue > li {
  background-color: $blue-1;
  color: white;
}

p.detail {
  font-size: 1rem;
  color: $gray-2;
  font-weight: 300;
}

input[type="number"].clean-input {
  outline: none;
  border: none;
  min-height: rem(22px);
  min-width: rem(20px);
  max-width: rem(50px);
  padding: rem(2px) rem(5px);
  font-size: rem(20px);
  line-height: rem(22px);
  color: $gray-2;
  text-align: left;
  &.error {
    color: red;
  }
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance:textfield;
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .clean-input:-moz-placeholder,
    .clean-input::-moz-placeholder {
      position: relative;
      top: 4px;
    }
    .clean-input::-webkit-input-placeholder {
      position: relative;
      top: 4px;
    }
    .clean-input:-ms-input-placeholder {
      position: relative;
      top: 4px;
    }
  }
}

/* NAVBAR */

.navbar {
  background-color: $gray-1;
}

.navbar-nav > * {
  margin-left: rem(15px);
}

.navbar .logo_img {
  padding: rem(14px) 0;
}

.navbar-dark .navbar-text a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  border-bottom: 1px solid;

  &:focus,
  &:hover {
    color: rgba(255, 255, 255, 0.75);
  }
}

.navbar .langs a {
  border-bottom: none;

  &.active {
    color: rgba(255, 255, 255, 0.75);
  }
}

/* FILTER */
.count-label {
  background: $blue-2;
  color: white;
  padding: 2px;
  border-radius: 50%;
  width: 20px;
  display: inline-block;
  text-align: center;
  height: 20px;
  position: absolute;
  right: -12px;
  top: -14px;
  font-size: 0.65em;
}
.filter {
  background-color: $gray-3;
  font-size: 1.3rem;
  font-weight: 400;
  padding-top: rem(20px);
  padding-bottom: rem(10px);

  ul.main-filter {
    background-color: white;
    margin: 0;
    padding: 0;

    > li {
      color: $black;
      vertical-align: middle;
      margin: rem(7px) rem(10px) rem(8px);
      line-height: 1.25;
      span{
        display: inline-block;
      }

      &:not(:last-child)::after {
        content: "|";
        transform: skewX(-200deg);
        display: inline-block;
        margin: rem(-14px) rem(10px);
        position: absolute;
        top: 0;
        font-size: 2.4rem;
        font-weight: 100;
        color: $gray-2;
      }
    }
  }

  .search-btn {
    cursor: pointer;
    background-color: $blue-1;
    color: white;
    padding: rem(17px) rem(64px);
  }

  .search-option {
    cursor: pointer; // color: $gray-1;
    font-weight: 400;
    text-decoration: none;
    border-bottom: 1px solid #7F7E7C;
    &:hover {
      border-bottom-color: transparent;
    }
  }
}

.detail-filter {
  background: white;
  width: calc(100% - 28px);
  max-width: rem(982px);
  display: block;
  padding-bottom: 1.8rem !important;
  ul {
    &.search-by-filter {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        padding: rem(2px) rem(10px) rem(7px);
        margin: 0 rem(5px) rem(5px) 0;
        cursor: pointer;
        &:hover {
          background-color: $blue-2;
        }

        &.active {
          background-color: $blue-2;
          color: white;
          border-color: transparent;
        }
      }
    }

    &.search-by-tag-results {
      display: block;
      width: 100%;
      list-style: none;
      margin: 0;
      padding: 0;
      overflow-y: auto;
      max-height: rem(173px);
      min-height: rem(173px);
      margin-bottom: rem(-30px);
      li {
        color: $gray-1;
        padding-left: 1.6em;
        padding-top: 0.2em;
        padding-bottom: 0.4em;
        cursor: pointer;

        &::before {
          content: "";
          display: inline-block;
          height: 1.15em;
          width: 1.1em;
          background-image: url(../img/icons/search.svg);
          background-repeat: no-repeat;
          background-position: center center;
          vertical-align: middle;
          margin-right: 0.5em;
          position: relative;
          top: rem(-2px);
        }
        &:hover {
          background-color: $gray-4;
        }

        &.empty-search-by-tag {
          cursor: default;
          opacity: 0.8;
        }
      }
    }
  }
  &>.row{
    margin: 0;
  }
}

ul {
  &.grey-border {
    li {
      border: 1px solid $gray-7;
      &:hover {
        background-color: $blue-1;
        border-color: $blue-1;
        color: #fff;
      }
    }
  }
}

ul {
  &.grey {
    li {
      background-color: $gray-7;
      color: #fff;
      &:hover {
        background-color: $blue-1;
        color: #fff;
      }

      &.active {
        background-color: $blue-1;
        color: #fff;
      }
    }
  }
}

/* TABS */

.tabs {
  background-color: $gray-4;

  ul {
    margin: 0;
    padding: 0;

    li {
      padding: rem(11px) rem(30px);
      position: relative;
      cursor: pointer;
      &:hover {
        background-color: white;
      }
      &.active {
        background-color: white;
      }
    }
  }
  ul:not(.list-icons){
    li a {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 2;
    }
  }
}

.tabs-with-icons_empty{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* CONTENT */

.active-preview {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: rem(330px);
  max-width: 100%;
}

.other-preview {
  &::-webkit-scrollbar {
    display: none;
  }

  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: auto;
  max-height: rem(83px);
  max-width: 100%;

  img {
    max-width: 25%;
    max-height: rem(83px);
    cursor: pointer;
    margin-bottom: 1px;
    margin-left: 0;
  }
}

.content-wrapper {
  margin-top: rem(20px);
}
.stations-list{
  padding: 0;
  margin: 0;
  list-style: none;
  padding-bottom: 0.22rem;
  .h3{
    color: #212529;
    font-weight: 400;
  }
}

.station:before {
  content: "";
  background: url(../img/icons/metro-red.svg) no-repeat;
  width: rem(30px);
  height: rem(18px);
  display: inline-block;
  margin-right: 0.25rem;
}
.station.blue:before {
  content: "";
  background: url(../img/icons/metro-blue.svg) no-repeat;
  width: rem(30px);
  height: rem(18px);
  display: inline-block;
  margin-right: 0.25rem;
}
.station.green:before {
  content: "";
  background: url(../img/icons/metro-green.svg) no-repeat;
  width: rem(30px);
  height: rem(18px);
  display: inline-block;
  margin-right: 0.25rem;
}



.book-btn {
  overflow: hidden;

  > * {
    margin-left: rem(-15px);
  }
}

.show-more-btn {
  background: $gray-4;
  color: $gray-2;
  display: inline-block;
  width: 100%;
  text-align: center;
  &:hover {
    background: $gray-3;
  }
}

.bottom-offer {
  border-radius: rem(10px);
  overflow: hidden;
  background: $gray-4;
}

.offer-header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: rem(100px);
  width: 100%;
}

.lock-icon {
  img {
    width: rem(15px);
    display: block;
  }
  .lock-icon-mob {
    display: none;
  }
  &_open{
    img{
      width: rem(20px);
    }
  }
}

.filter-vidy {
  .search-option {
    color: $gray-1;
  }
}

.filter-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("../img/filter-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.74);
  }
}

.logo {
  width: rem(180px);
  img {
    width: 100%;
  }
}

.main-header {
  & > * {
    position: relative;
    z-index: 2;
  }
  & > .main-header-bg {
    z-index: 1;
  }
}

.main-header-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/main/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.74);
  }
}

.navbar-dark .navbar-nav .lang-item .nav-link {
  color: #fff;
}

.filter-lg {
  padding-top: rem(100px);
  position: relative;
  .navbar-brand {
    margin-right: auto;
    width: 100%;
    max-width: rem(441px);
    display: block;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
  .search-option {
    color: white;
  }
}

.detail-filter {
  max-width: 100%;
}

.header-transparent {
  background-color: transparent !important;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 25;
}

.input-address-tags {
  height: 100%;
  position: relative;
  padding-left: rem(5px);
  padding-right: rem(5px);

  overflow: hidden;
  margin-right: 0;
  display: flex;
  margin-left: 0;
  flex: 1;
  align-items: baseline;

  .search-address-tags {
    // display: inline-block;
    list-style: none;
    margin: 0;
    padding: rem(7px) 0 rem(6px);
    max-width: rem(100px);
    display: flex;
    overflow: hidden;
    flex-direction: row;
    justify-content: flex-end;
    white-space: nowrap;

    &.hidden-tags {
      padding-left: 15px;
      &::before {
        content: "";
        width: 40px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        font-size: 1.5em;
        background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 0, 0, 0) 80%);
        cursor: pointer;
        pointer-events: none;
      }
      &:hover{
        z-index: 1000;
      } 
    }

    li:not(.search-address-input) {
      display: inline-block;
      padding: rem(2px) rem(5px);
      margin: 0 rem(5px) rem(5px) 0;
      cursor: pointer;
      font-size: 0.8em;
      font-weight: 300;
      background: #e6e6e6;
      color: #000000;

      &::after {
        content: "";
      }

      &:hover {
        background-color: $blue-2;
      }
    }

    &.full-width {
      max-width: rem(315px);
      // max-width: rem(250px);
      // max-width: rem(250px);
      li:not(.search-address-input) {
        margin-bottom: 0;
      }
    }

    li.search-tags-input {
      background-color: transparent;
      padding: rem(2px) rem(5px);
      margin: 0 rem(5px) rem(5px) 0;
      &:hover {
        background-color: transparent;
      }
    }
  }
  input {
    border: none;
    height: rem(50px);
    max-width: rem(130px);
    outline: none;
  }
}

.input-with-icon {
  height: 100%;
  position: relative;
  padding-left: rem(55px);
  padding-right: rem(80px);

  overflow: hidden;
  margin-right: 0;
  display: block;
  margin-left: 0;
  flex: 1;

  .search-tags {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: rem(10px) 0;
    max-width: 100%;

    li:not(.search-tags-input) {
      display: inline-block;
      padding: rem(2px) rem(5px);
      margin: 0 rem(5px) rem(5px) 0;
      cursor: pointer;
      font-size: 0.8em;
      font-weight: 300;
      background: #e6e6e6;
      color: #000000;

      &:hover {
        background-color: $blue-2;
      }
    }
    li.search-tags-input {
      background-color: transparent;      
      padding: rem(2px) rem(5px);
      margin: 0 rem(5px) rem(5px) 0;
      &:hover {
        background-color: transparent;
      }
    }
  }

  .bbtn-search {
    position: absolute;
    left: rem(15px);
    top: 50%;
    margin-top: rem(-12px);
  }
  input {
    border: none;
    height: rem(70px);
    max-width: 100%;
    outline: none;
  }
}

.bbtn-search {
  width: rem(25px);
  height: rem(25px);
  padding: 0;
  border: none;
  background-color: transparent;
  img {
    width: 100%;
    height: 100%;
    display: block;
  }
}

.title-bg {
  font-size: rem(26px);
  line-height: rem(31px);
  letter-spacing: 0.65px;
  font-weight: 400;
  color: #999999;
  text-transform: uppercase;
  display: block;
}

.title-bg-row {
  margin-bottom: 4.2rem;
}

.grey-section {
  background-color: $gray-6;
}

.address-list {
  column-count: 2;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 0.5rem;
  li {
    margin-bottom: rem(5px);
  }
  a {
    color: #191919;
    font-size: rem(14px);
    line-height: rem(24px);
    font-weight: 400;
    text-decoration: none;
    &:hover {
      color: $blue-1;
    }
  }
}

.show-more-item {
  color: #191919;
  font-size: rem(18px);
  line-height: rem(24px);
  opacity: 0.49;
  font-weight: 400;
  display: flex;
  align-items: center;
  text-decoration: none;
  &:hover {
    opacity: 1;
    text-decoration: none;
    color: #191919;
  }
  img {
    width: rem(10px);
    margin-left: rem(6px);
    margin-top: rem(6px);
  }
}

.logo-grey {
  width: rem(170px);
  img {
    width: 100%;
  }
}

.copyright {
  color: #b3b3b3;
  font-size: rem(14px);
  line-height: rem(15px);
  margin-left: rem(30px);
}

.footer {
  background-color: #ffffff;
  .navbar {
    background: none;
  }
  .navbar-light .navbar-nav .nav-link {
    color: #b3b3b3;
    font-size: rem(14px);
    line-height: rem(15px);
    display: inline-block;
    &:hover {
      color: #191919;
    }
  }
}
.footer-grey {
  background-color: #ededed;
  .footer {
    background-color: transparent;
  }
}

.navbar-light .navbar-nav .underline .nav-link {
  border-bottom: 1px solid;
  padding: 0;
}

.bbtn-sale {
  width: rem(40px);
  height: rem(40px);
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: rem(19px);
  line-height: 0;
  color: #fff;
  font-weight: 400;
  position: relative;
  span {
    position: absolute;
    left: 50%;
    top: 46%;
    transform: translate(-50%, -50%);
  }
  img {
    width: 100%;
    height: 100%;
  }
  &:hover {
    border: none;
    background-color: transparent;
  }
}

.tooltip-skew {
  //background-color: #fff;
  .arrow {
    opacity: 0;
  }
  .tooltip-inner {
    background-color: #e8e8e8;
    color: #191919;
    font-size: rem(15px);
    line-height: rem(18px);
    font-weight: 400;
    border-radius: 0;
    transform: skewX(-20deg);
    text-align: left;
    padding-left: rem(25px);
    padding-right: rem(25px);
    padding-top: rem(3px);
    padding-bottom: rem(6px);
    display: block;
    font-family: "Oswald", sans-serif;
    span {
      transform: skewX(10deg);
      display: block;
    }
  }
}

.pagination {
  margin-bottom: 0;
}

.pagination-text {
  color: $blue-1;
  font-size: rem(16px);
  line-height: rem(24px);
  font-weight: 400;
}

.page-item {
  padding: 2px;
  &:last-child{
    .page-link{
      font-size: rem(30px);
      padding: 0;
      line-height: rem(28px);
    }
  }
  &:nth-last-child(2){
    .page-link{
      font-size: rem(30px);
      padding: 0;
      line-height: rem(28px);
    }
  }
  &:nth-child(2){
    .page-link{
      font-size: rem(30px);
      padding: 0;
      line-height: rem(28px);
    }
  }
  &:first-child{
    .page-link{
      font-size: rem(30px);
      padding: 0;
      line-height: rem(28px);
    }
  }
}

.pagination-sm .page-link {
  width: rem(35px);
  height: rem(35px);
  text-align: center;
  color: #000000;
  font-size: rem(16px);
  font-weight: 400;
  line-height: rem(24px);
  padding: rem(5px);
  background-color: #f0f0f0;
  border: none;
  &:hover {
    border-color: $blue-2;
    background: $blue-2;
    color: #fff;
  }
}

.page-link:focus {
  box-shadow: none;
}

.page-item.active .page-link {
  border-color: $blue-2;
  background: $blue-2;
  color: #fff;
}

.filter-lg {
  a {
    &.search-option {
      color: white;

      &:hover {
        color: white;
      }
    }
  }
}

.detail-filter {
  a {
    &.search-option {
      color: $gray-7;
      &:hover {
        color: #1a1a1a;
      }
    }
  }
}

.mobileFilter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 500;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: rem(100px);
  margin: 0;

  .input-address-tags {
    .search-address-tags {
      max-width: rem(190px);
    }
  }
  .input-address-tags input{
    width: calc(100% - 10rem);
  }
  .count-label {
    right: 0;
    top: 0;
  }

  .nav-mobile-top {
    height: rem(55px);
    border-bottom: 1px solid #bbb;
    position: fixed;
    width: 100%;
    z-index: 600;
    background: white;

    img {
      height: rem(32px);
    }
  }

  ul.main-filter {
    background-color: white;
    margin: 0;
    margin-top: rem(57px);
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    > li {
      color: $black;
      vertical-align: middle;
      margin: rem(7px) rem(10px);
      line-height: 1.25;
      width: 100%;
      border-bottom: 1px solid #ccc;
      padding-bottom: 0.5em;
      padding-top: 0.5em;

      &:not(:last-child)::after {
        content: "";
        transform: skewX(0);
        display: inline-block;
        margin: 0;
        position: absolute;
        top: 0;
        font-size: 2.4rem;
        font-weight: 100;
        color: $gray-2;
      }
    }
  }
  .main-search-button {
    position: fixed;
    bottom: rem(15px);
    left: rem(30px);
    width: calc(100% - 60px);
    z-index: 1000;
    &:after {
      display: block;
      content: "";
      position: absolute;
      left: 0px;
      top: 100%;
      height: rem(15px);
      background: #fff;
      width: 100%;
    }
  }
  .main-filter li.main-filter__two-col {
    width: calc(50% - 1.45rem);
    display: inline-block;
    vertical-align: top;
  }

  .input-with-icon {
    input {
      width: 100%;
    }

    .bbtn {
      width: rem(25px);
      height: rem(25px);
      padding: 0;
      border: none;
      background-color: transparent;
      position: absolute;
      top: rem(29px);
      margin-top: 0;
    }

    .bbtn-details {
      right: rem(18px);
      top: 0.84rem;
      img {
        vertical-align: top;
      }
    }
    .bbtn-close {
      left: 0.5rem;
      top: 0.8rem;
      width: 26px;
      height: 26px;
      outline: none;
      img {
        vertical-align: top;
        width: 26px;
        height: 26px;
      }
    }

    .bbtn-search {
      top: rem(25px);
      left: rem(15px);
    }
  }

  .detail-filter {
    width: 100%;

    ul {
      &.search-by-tag-results {
        max-height: rem(200px);
        li {
          &::before {
            content: "";
            display: inline-block;
            height: 0;
            width: 0;
            background-image: none;
            margin-right: 0;
          }
          &:hover {
            background-color: $gray-4;
          }

          &.empty-search-by-tag {
            cursor: default;
            opacity: 0.8;
          }
        }
      }
    }
  }
}

/*slider*/

.offers-slider {
  position: relative;
  margin: 0 rem(-15px);
  .slick-slide {
    padding: 0 rem(15px);
  }

  .slick-arrow {
    position: absolute;
    top: 45%;
    width: rem(14px);
    height: rem(40px);
    margin-top: rem(-25px);
    cursor: pointer;
    img {
      display: block;
      width: 100%;
    }
    &.slick-prev {
      left: rem(-15px);
    }

    &.slick-next {
      right: rem(-15px);
    }
    &:hover {
      opacity: 0.6;
    }
  }
}
.slick-dots {
  display: flex;
  list-style: none;
  align-content: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  li {
    margin-right: rem(7px);
    line-height: 0;
    font-size: 0;
    &:last-child {
      margin-right: 0px;
    }
  }
  button {
    padding: 0;
    margin: 0;
    border-radius: 50%;
    border: none;
    color: transparent;
    font-size: 0;
    line-height: 0;
    width: rem(12px);
    height: rem(12px);
    border: 1px solid #869a99;
    background: transparent;
    &:hover {
      background-color: #869a99;
    }
    &:focus {
      outline: none;
    }
  }
  li.slick-active button {
    background-color: #869a99;
    &:focus {
      outline: none;
    }
  }
}
.filter-left {
  max-width: calc(100% - 166px);
  min-width: calc(100% - 166px);
  ul.main-filter {
    width: calc(100% - 20px);
  }
}
.filter-tag-left {
  max-width: calc(100% - 246px);
  min-width: calc(100% - 246px);
}

.table-price {
  color: $blue-2;
  white-space: nowrap;
}
.offers-table {
  color: #312a20;
  font-size: 0.82rem;
  line-height: 1.1rem;
  font-weight: 400;
  thead {
    border: none;
    &::before,
    &::after {
      display: none;
    }
  }
  thead th {
    border: none;
    white-space: nowrap;
    &:last-child {
      text-align: right;
    }
  }
  th {
    font-weight: 400;
  }
  th,
  td {
    border-bottom: 1px solid #e5e5e5;
    border-top: none;
    &.not-border{
      border-bottom: none;
    }
  }
  .border-top {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: -100vw;
      top: -1px;
      width: 300vw;
      height: 1px;
      background: #E5E5E5;
    }
  }
  .table-sm th,
  .table-sm td {
    padding: 0.6rem 0.4rem;
  }
  .table-sm thead th{
    padding-top: 1rem ;
    padding-bottom: 1rem ;
  }
  a{
    color: #312a20;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
    &.table-name-company{
      color: #009fda;
    }
  }
}
.table .station{
  display: block;
  position: relative;
  max-width: rem(160px);
  overflow: hidden;
  white-space: nowrap;
  &:before{
    width: 1.175rem;
    height: 0.78rem;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 35%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  }
}
.table-name-company {
  display: inline-block;
  position: relative;
  max-width: rem(50px);
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none!important;
  &:before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 35%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  }
  
}
.table-name-metro {
  display: block;
  position: relative;
  max-width: rem(90px);
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  &:before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 35%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  }
}
.tabs .list-icons li {
  padding: 0;
  &:hover {
    background-color: transparent;
  }
}
.list-icons {
  display: flex;
  align-items: center;
  list-style: none;
  li {
    margin-right: 1rem;
    padding: 0;
    &:last-child {
      margin-right: 0rem;
    }
  }
  a {
    display: block;
    img {
      width: rem(20px);
      height: rem(30px);
    }
  }
}
.layout-rooms-row{
  margin: 0 -5px;
  .col-12{
    padding: 0 5px;
  }
}
.layout-rooms {
  margin-bottom: 3rem;
  &__title {
    background-color: #AFAFAF;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 0.81rem;
    line-height: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    .layout-rooms__left{
      padding-left: 0.5rem;
    }
  }
  &__row {
    display: flex;
  }
  &__left {
    width: 60%;
    padding-right: rem(8px);
    .custom-checkbox {
      margin-top: 8rem;
    }
  }
  &__right {
    width: 40%;
    display: flex;
    flex-direction: column;  
    padding-left: 0.5rem;
    .book-btn{
      margin-top: auto;
    }
  }
  &__img {
    position: relative;
    max-width: 8rem;
    margin: 2rem auto 0;
    img {
      display: block;
      width: 100%;
    }
  }
  &__total-area {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.81rem;
    line-height: 1rem;
  }
  &__direction {
    width: rem(60px);
    margin: 1.7rem auto 0;
    img {
      display: block;
      width: 100%;
    }
  }
  &__fav {
    font-size: 0.81rem;
    line-height: 1rem;
    display: flex;
    align-items: center;
    color: #191919;
    margin-left: auto;
    margin-right: 1.2rem;
    white-space: nowrap; 
    text-decoration: none!important;  
    img {
      width: 0.7rem;
      height: 0.7rem;
      margin-right: 5px;
    }
  }
  .bbtn{
    font-size: 0.81rem;
    line-height: 1rem;
    padding: 0.7rem 1.1rem 0.7rem 1.8rem;
    text-align: center;
  }
}

.layout-rooms-inf {
  display: table;
  color: #191919;
  font-size: 0.9rem;
  line-height: 1rem;
  font-weight: 400;
  padding: 0;
  width: 100%;
  margin-bottom: 1rem;
  &:last-child{
    margin-bottom: 0rem;
  }
  li {
    display: table-row;
  }
  span {
    display: table-cell;
    width: 50%;
    padding: 0.2rem 0;
  }
  &_price{
    span{
      vertical-align: bottom;
    }
  }
}
.layout-rooms-links {
  padding: 0;
  list-style: none;
  li{
    margin-bottom: 0.5rem;
    &:last-child{
      margin-bottom: 0rem;
    }
  }
  a {
    color: #191919;
    font-size: 0.81rem;
    line-height: 1.1rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    text-decoration: none;
    img{
      width: 0.8rem;
      margin-right: 0.5rem;
    }
    &:hover {
      color: $blue-2;
    }
  }
}
.station-wrap{
  position: relative;
  &>.station{
    padding: 0.3rem 0rem;
    display: block;
    cursor: pointer;
  }
  .station{
    white-space: nowrap;
    color: #fff;
    font-weight: 400;
    &:before{
      height: 0.8rem;
      width: 1.4rem;
    }
  }
  &:hover{
    .tooltip-station{
      opacity: 1;
      visibility: visible;
    }
  }
}
.tooltip-station{ 
  background-color: #e8e8e8;
  border-radius:0;
  text-align: left;
  opacity: 1;
  padding: 1rem 0.5rem 1rem 1rem;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 100;
  width: calc(100% + 1rem);
  opacity: 0;
  visibility: hidden;
  span.station{
    display: block;
    color: #191919;
  }
}

//DEVELOPER PAGE BEGIN
.fullscreen-slider {
  height: 100vh;
  min-height: 536px;
  padding: 0;
  position: relative;
  &__item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    height: 100%;
  }
  &__cont {
    height: 100vh;
    min-height: 536px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &__company {
    font-size: 1.5rem;
    line-height: 2.1rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  &__star {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.5rem;
  }
  &__title {
    background-color: #fff;
    font-size: 2.5rem;
    line-height: 2.7rem;
    display: block;
    max-width: 42rem;
    width: 100%;
    margin: 0 auto;
    font-weight: 400;
    padding: 1rem 2rem 1.2rem;
    margin-bottom: 1rem;
  }
  &__descr {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.9rem;
    color: #fff;
  }
  .slick-arrow {
    position: absolute;
    top: 45%;
    width: rem(14px);
    height: rem(40px);
    margin-top: rem(-25px);
    cursor: pointer;
    z-index: 15;
    img {
      display: block;
      width: 100%;
    }
    &.slick-prev {
      left: rem(0px);
    }

    &.slick-next {
      right: rem(0px);
    }
    &:hover {
      opacity: 0.6;
    }
  }
  .container {
    position: relative;
    z-index: 5;
    max-width: 950px;
  }
}
.fullscreen-slider-img{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  min-height: 536px;
  .fullscreen-slider__item {
    position: relative;
    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #191919;
      opacity: 0.64;
    }
  }
}
.active-preview_sm {
  min-height: 12.7rem;
}
.section-text{
  padding: 2.2rem 0;
  p{
    color: #595651;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4rem;
    margin-bottom: 0;
  }
}
.developer-title{
  padding-top: 2rem;
  h1{
    font-size: 1.7rem;
  }
}
//DEVELOPER PAGE END
//OBJECT PAGE START
.object-title-row{
  display: flex;
  align-items: flex-end;
  h1{
    font-size: 1.8rem;
    line-height: 2rem;
    margin-bottom: 0;    
    margin-right: 0.7em;
  }
}
.object-address{
  color: #000000;
  font-size: 1.5rem;
  line-height: 1.7rem;
  font-weight: 400;
}
.object-code{
  color: #999999;
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-weight: 400;  
  margin-right: 1em;
  text-decoration: none;
  &:hover{
    text-decoration: none;
    color: $blue-2;
  }
}
.object-phone{
  color: #999999;
  font-size: 1.1rem;
  line-height: 1.5rem;
  font-weight: 400;
}
.object-sub-title-row{
  display: flex;
  align-items: flex-end;
  .object-address{
    margin-right: 8%;
  }
  .stations-list{
    padding: 0;
    margin: 0;  
    display: flex;
    align-items: flex-end;
  }
  .station:before{
    height: 0.75rem;
    width: 1.2rem;
  }
  li{
    margin-right: 1rem;
  }
  span.h3{
    margin-bottom: 0;
  }
}
.slide-range {
  margin-right: -5rem;
  background-color: #fff;
  position: relative;
  z-index: 2;
  margin-bottom: 0.2rem;
  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.1rem;
  }
  &__title {
    color: #000000;
    font-size: 0.85rem;
    line-height: 0.9rem;
    font-weight: 400;
    margin-bottom: 0;
  }
  &__value {
    color: #000000;
    font-size: 0.85rem;
    line-height: 0.9rem;
    font-weight: 400;
  }
}
.vue-slider-rail{
  background-color: #C9C8C8!important;
  border-radius: 0!important;
}
.vue-slider-process{
  background-color: #3AA1D4!important;
  border-radius: 0!important;
}
.vue-slider-dot-handle{
  border-color:  #C9C8C8!important;
  &:before{
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #3AA1D4;
  }
}
.object-slider {
  position: relative;
  .slick-arrow {
    position: absolute;
    top: 45%;
    width: rem(14px);
    height: rem(40px);
    margin-top: rem(-25px);
    cursor: pointer;
    z-index: 15;
    img {
      display: block;
      width: 100%;
    }
    &.slick-prev {
      left: rem(40px);
    }

    &.slick-next {
      right: rem(40px);
    }
    &:hover {
      opacity: 0.6;
    }
  }
}
.object-slider-big {
  &__item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 30rem;
    cursor: pointer;
  }
}
.object-slider-sm.slick-slider {
  position: absolute;
  left: 2rem;
  width: calc(100% - 4rem);
}
.object-slider-sm {
  bottom: 2rem;
  margin: 0 -1px;
  &__item {
    padding: 0 1px;
  }
  &__link {
    border: 2px solid #ffffff;
    display: block;
    cursor: pointer;
    display: block;
    height: 4rem;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    img {
      display: block;
      max-width: 100%;
    }
  }
  .slick-current{
    .object-slider-sm__link{
      border-color: #ccc;
    }
  }
}
.slick-arrow {
  position: absolute;
  top: 45%;
  width: rem(14px);
  height: rem(40px);
  margin-top: rem(-25px);
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  img {
    width: 100%;
    height: 100%;
    display: block;
  }
  &.slick-prev {
    left: rem(-15px);
  }

  &.slick-next {
    right: rem(-15px);
  }
  &:hover {
    opacity: 0.6;
  }
  &:focus {
    outline: none;
  }
}
.object-inf {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    margin-bottom: 0.7rem;
    &:last-child {
      margin: 0;
    }
  }
  span {
    color: #000000;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    display: block;
    &:first-child {
      color: #999999;
    }
  }
  &_table {
    display: table;
    width: 100%;
    margin-bottom: 2rem;
    max-width: 280px;
    li {
      display: table-row;
      margin-bottom: 0;
    }
    span {
      display: table-cell;
      width: 50%;
    }
  }
}
.icons-list {
  display: flex;
  align-items: center;
  margin: 0 -0.5rem;
  padding: 0;
  list-style: none;
  li {
    padding: 0 0.5rem;
  }
}
.bbtn-icon {
  height: 2rem;
  cursor: pointer;
  &:hover {
    opacity: 0.65;
  }
  img {
    height: 100%;
    width: auto;
  }
}
.back-icon {
  width: 0.7rem;
  height: 2rem;
  display: block;
  margin-right: 1rem;
  img {
    width: 100%;
  }
}
.object-rooms {
  padding-left: 2rem;
  padding-right: 2rem;
  .slick-slide {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
  .slick-arrow.slick-next{
    right: 0;
  }
  .slick-arrow.slick-prev{
    left: 0;
  }
  .layout-rooms{
    margin-bottom: 0;
  }
  .layout-rooms__title{
    background-color: #E4E4E4;
  }
  .layout-rooms__cont{
    padding: 1rem;
  }
  .layout-rooms__title .layout-rooms__left{
    padding: 0.2rem 1rem;
  }
  .layout-rooms-inf span{
    padding: 0;
  }
  .layout-rooms__img{
    margin-top: 0.2rem;
    max-width: 5.8rem;
  }
  .layout-rooms__direction{
    max-width: 2.8rem;
    margin-top: 1rem;
  }
  .slick-dots{
    margin-top: 2rem;
  }
}
.layout-rooms__left .custom-checkbox{
  margin-bottom: 0.8rem;
}
.custom-control-label{
  color: #131714;
  font-size: .9rem;
  font-weight: 400;
  white-space: nowrap;
}
.custom-checkbox.b-custom-control-sm .custom-control-label::before, .input-group-sm .custom-checkbox .custom-control-label::before{
  border-radius: 0;
  background-color: #63BEF3;
  border-color: #63BEF3;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after{
  background-image: none;
  width: 0.4rem;
  height: 0.4rem;
  background-color: #fff;
  position: absolute;
  left: -1.05rem;
  top: 0.44rem;
}
.rooms-price{
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 400;
  margin-bottom: 0.7rem;
  white-space: nowrap;
}
.object-desc{
  p{
    color: #979695;
    margin-bottom: 0;
  }
  .book-btn{
    margin-bottom: 1rem;
    border-left: 1px solid #009fda;
    &:hover{
      opacity: 0.6;
    }
  }
  .bbtn{
    font-size: 1.0rem;
    line-height: 2rem;
    padding: 0.4rem 2rem;
  }
  .bbtn.blue{
    color: #009fda;
    background-color: #fff;
    border: 1px solid #009fda;
  }
  .bbtn-icon{
    height: 1.6rem;
  }
  .icons-list{
    margin: 0 -0.5rem;
    li{
      padding: 0 0.5rem;
    }
  }
}
.section-map{
  img{
    display: block;
    max-width: 100%;
  }
}
.ymap-container {
  height: 100%;
  width: 100%;
  overflow: hidden; 
}
.ymaps-2-1-75-ground-pane{
  filter: grayscale(1);
}
//OBJECT PAGE END
//MODAL BEGIN 

.modal-body{
  padding: 2rem 4.5rem;
  .row{
    margin: 0 -7px;
    &>div{
      padding: 0 7px;
    }
  }
}
.modal-title{
  text-align: center;
  font-size: 1.7rem;
  line-height: 2.2rem;
  color: #060808;
  font-weight: 400;
  margin-bottom: 0.3rem;
}
.modal-subtitle{
  text-align: center;
  font-size: 1rem;
  line-height: 1.2rem;
  color: #a3b7b8;
  font-weight: 400;
}
.input-border{
  border:1px solid #ccc;
  overflow: hidden;
  display: block;
  width: 100%;
  position: relative;
  background-color: #fff;
  input{
    color: #000000;
    font-size: 1rem;
    line-height: 1.2rem;
    padding: .2rem 1.2rem;
    width: 100%;
    border: none;
    background-color: #fff;
    display: block;
    margin: 0;
    outline: none!important;
    height: 2.2rem;
    box-shadow: none!important;
    &:-moz-placeholder,
    &::-moz-placeholder{
      color: #000000;
      opacity: 1;
    }
    &::-webkit-input-placeholder{
      color: #000000;
    }
    &:-ms-input-placeholder{
      color: #000000;
      opacity: 1;
    }
    &.invalid{
      color: red;
      &:-moz-placeholder,
      &::-moz-placeholder{
        color: red;
        opacity: 1;
      }
      &::-webkit-input-placeholder{
        color: red;
      }
      &:-ms-input-placeholder{
        color: red;
        opacity: 1;
      }
    }
  }
  &_btn{
    background-color: #3AA1D4;
    color: #fff;
    border-color: #3AA1D4;
    height: 2.2rem;
    padding-bottom: 0.2rem;
    &:hover{
      color: #3AA1D4;
      background: transparent;
    }
    &:disabled{
      opacity: 0.6;
    }
  }
  &_border{
    border-color: #3AA1D4;
    color: #3AA1D4;
    background: transparent;
    height: 2.2rem;
    padding-bottom: 0.25rem;
    &:hover{
      background-color: #3AA1D4;
      color: #fff;
    }
  }
}
.helper-text{
  font-size: 0.7rem;
  line-height: 1rem;
  &.invalid{
    color: red;
  }
}
a.input-border_close,
button.input-border_close{
  background-color: transparent;
  height: 2.2rem;
  text-align: center;
  &:hover{
    background-color: #ccc;
    color: #fff;
  }
  &:active,
  &:focus{
    outline: none;
  }
}
a.input-border_close{
  color: #000;
  padding-top: 0.25rem;
}
.btn-remove{
  background-color: #e8e8e8;
  width: 3rem;
  height: 2.36rem;
  text-align: center;
  cursor: pointer;
  span{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 7px;
    height: 7px;
    transform: translate(-50%,-50%) skewX(200deg);
    img{
      width: 100%;
      height: 100%;
      display: block;
      vertical-align: top;
    }
  }
  &:hover{
    opacity: 0.6;
  }
}
.modal-content{
  border-radius: 0;
  border: none;
}
.close-modal{
  width: 1.6rem;
  height: 1.6rem;
  display: block;
  position: absolute;
  right: -1.6rem;
  top: -1.6rem;
  cursor: pointer;
  &:before,
  &:after{
    content: '';
    display: block;
    width: calc(100% + 6px);
    height: 1px;
    background: #fff;
    position: absolute;
    left: -4px;
    top: 10px;
    transform: rotate(45deg);
    transform-origin: center center;
  }
  &:before{
    transform: rotate(-45deg);
  }
  &:hover{
    opacity: 0.6;
  }
}
.icon-plus{
  width: 0.7rem;
  height: 0.7rem;
  position: absolute;
  right: 0.5rem;
  top: 50%;
  margin-top: -0.35rem;
  cursor: pointer;
  &:hover{
    opacity: 0.6;
  }
  &::before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: #201600;
    margin-top: -1px;
  }
  &::after{
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    width:1px ;
    height: 100%;
    background-color: #201600;
    margin-left: -1px;
  }
}
.modal-fullscreen1 .modal {
  padding: 0 !important;
}
.modal-fullscreen1 .modal-dialog {
  max-width: 100%;
  height: 100%;
  margin: 0;
}
.modal-fullscreen1 .modal-content {
  border: 0;
  border-radius: 0;
  min-height: 100%;
  height: auto;
}

.modal-fullscreen2  .modal {
  padding: 0 !important;
}
.modal-fullscreen2 .modal-dialog {
  max-width: 100%;
  height: 100%;
  margin: 0;
}
.modal-fullscreen2 .modal-content {
  width: calc(100% - 2rem);
  min-height: 100%;
  height: auto;
  margin: 1rem;
}
//MODAL END 
.main-filter__two-col{
  position: relative;
}
.section-big-map{
  padding: 0;
  position: relative;
  .col-padding{
    padding: 0 35px;
  }
}
.map-btn{
  position: absolute;
  left: -0.8rem;
  top: 2rem;
  z-index: 1;
  display: flex;
}
.map-result{
  padding: 1.0625rem 2.375rem;
  background-color: rgba(226, 226, 226, 0.89);
  font-size: 1.3rem;
  font-weight: 400;
  color: #7F7E7C;
}
.filter-map{  
  background-image: url('../img/part-img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  &:before{
    background-color: rgba(226, 226, 226, 0.89);
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
.scroll{
  overflow: auto;
  max-height: 55rem;
  margin-bottom: 1.5rem;
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
      background: #FF0000;
  }
  &::-moz-scrollbars {width: 0px;
    background: transparent;}
  &::-o-scrollbar {width: 0px;
    background: transparent;}
  &::-khtml-scrollbar {width: 0px;
    background: transparent;}
}
.ymaps-2-1-75-outerHint-pane{
  border: none!important;
  padding: 0!important;
  outline: none!important;
  box-shadow: none!important;
  ymaps{
    padding: 0!important;
    border: none!important;
    background: transparent!important;
    outline: none!important;
    box-shadow: none!important;
    &:after{
      display: none;
    }
    &:before{
      display: none;
    }
  }
}
.tooltipe-map{  
  color: #fff;
  font-size: 1rem;
  background: #3AA1D4; 
  padding: 0.5rem 1rem 0.5rem;
  font-family: 'Oswald', sans-serif!important;
  
}
.accordion-nav{
  text-align: left;
}
.offers-table thead th:last-child{
  text-align: left;
}
.accordion-link{
  color: #191919;
  cursor: pointer;
  position: relative;
  padding: 0.25rem  0.15rem  0.25rem 0.8rem;
  display: block;
  font-size: 0.82rem;
  line-height: 1.1rem;
  font-weight: 400;
  background-color: #EFEFEF;
  &:before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -2px;;
    border-top: solid 4px #979695;
    border-left: solid 4px transparent;
    border-right: solid 4px transparent;
  }
  &:after{
    content: '';
    display: block;
    position: absolute;
    left: -100vw;
    top: 0;
    height: 100%;
    width: 300vw;
    background-color: #EFEFEF;
    z-index: -1;
  }
  &.collapsed{
    &:before{
      transform: rotate(-90deg);
    }
  }
  a{
    color: #00bbf2;
  }
}
.accordion-cont{
  padding: 0rem 0 0rem 1.2rem;
  display: block;
  color: #312a20;
  z-index: 2;
  position: relative;
  transition: all 0s!important;
}
.toogle-table{
  cursor: pointer;
  min-width: 3.8rem;
  display: block;
  &:hover{
    opacity: 0.6;
  }
}
.bg-row{
  background-color: #EFEFEF;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    left: -100vw;
    top: 0;
    width: 300vw;
    height: 100%;
    background-color: #EFEFEF;
  }
}
.table-wrap-row{
  overflow: hidden;
  margin-bottom: 1.5rem;
  td{
    white-space: nowrap;
    &.hovering{
      background: #EFEFEF;
      .table-name-company:before,
      .table-name-metro:before{
        background: linear-gradient(90deg, rgba(239, 239, 239, 0) 0%, #EFEFEF 100%);
      }
    }   
  }
  .offers-table{
    margin-bottom: 0;
  }
}
.rooms-table{
  background-color: #fff;
  tbody tr:last-child{
    td{
      border-bottom: none;      
    }
    .border-top:after{
      content: "";
      position: absolute;
      left: -100vw;
      bottom: 0px;
      width: 300vw;
      height: 1px;
      background: #E5E5E5;
    }
  }
  &.table-sm th,
  &.table-sm td {
    padding-top: 0.55rem;
    padding-bottom: 0.4rem;
  }
  &.table-sm thead th{
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }
  
  td{
    border-bottom: none;      
  }
}
.table-title-skew{
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;  
}
.rooms-table{
  th{
    padding: 0;
    vertical-align: middle;
    &:first-child{
      padding: 0.5rem 0.4rem;      
      vertical-align: middle;
    }
    &:hover{
      .table-title-skew{
        border-color: #E2E2E2;
      }
    }
  }
  tr{
    cursor: pointer;
  }
  .table-title-skew{
    padding: 0.5rem 0.4rem;
    display: block;
    transform-origin: bottom left;
  }
  &.table-sm th{
    padding: 0.5rem 0.0rem;
  }
  .col_1{
    min-width: 55px;
    max-width: 55px;
  }
  .col_2{
    min-width: 60px;
    max-width: 60px;
  }
  .col_3{
    min-width: 81px;
    max-width: 81px;
  }
  .col_4{
    min-width: 68px;
    max-width: 68px;
  }
  .col_5{
    min-width: 75px;
    max-width: 75px;
  }
  .col_6{
    min-width: 59px;
    max-width: 59px;
  }
  .col_7{
    min-width: 56px;
    max-width: 56px;
  }
  .col_8{
    min-width: 52px;
    max-width: 52px;
  }
  .col_9{
    min-width: 117px;
    max-width: 117px;
  }
  .col_10{
    min-width: 81px;
    max-width: 81px;
  }
  .col_11{
    min-width: 45px;
    max-width: 45px;
  }
  .col_12{
    min-width: 40px;
    max-width: 40px;
  }
  .col_13{
    min-width: 49px;
    max-width: 49px;
  }
  .col_14{
    min-width: 68px;
    max-width: 68px;
  }
  .col_15{
    min-width: 68px;
    max-width: 68px;
  }
  .col_16{
    min-width: 82px;
    max-width: 82px;
  }
  .col_17{
    min-width: 89px;
    max-width: 59px;
  }
}
.accordion{
  &>.accordion-link:first-child{
    padding-top: 0.5rem;
    &:before{
      margin-top: -1px;
    }
  }
  &>.accordion-link.collapsed:nth-last-child(2){
    padding-bottom: 0.5rem;
    &:before{
      margin-top: -5px;
    }
  }
}
.accordion-cont{
  .rooms-table{
    margin-left: -2.35rem;
  }
  .accordion-link:not(.collapsed){
    padding-bottom: 0.45rem;
  }
}
.sort-item{
  position: relative;
  padding-right: 0.9rem;
  display: inline-block;
  cursor: pointer;
  &:before{
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -1px;
    border-top: solid 4px #201600;
    border-left: solid 4px transparent;
    border-right: solid 4px transparent;
  }
  &.active{
    &:before{
      transform: scale(1,-1);
    }
  }
}
.name-object{
  font-size: 1.5rem;
  display: block;
  text-decoration: none!important;
  a{
    text-decoration: none!important;
    color: $blue-2;
    &:hover{
      color: $blue-1;
    }
  }
  a.name-developer{
    color: #999999;
    font-size: 1rem;
    display: inline-block;
    margin-left: 0.6rem;
    &:hover{
      color: $blue-1;
    }
  }
}
.object-item{
  .h3{
    margin-bottom: 0.01rem;
  }
}
.registration{
  background-color: #f2f2f2;
  .navbar-dark .navbar-text a{
    color: #999999;
  }
  .navbar-dark .navbar-toggler{
    color: transparent;
    border-color: transparent;
    background: transparent;
    padding: 1rem 0.75rem 1.1rem;
    line-height: 0;
    outline: none;
  }
  .navbar-toggler-icon{
    background:rgba(0, 0, 0, 1);
    height: 2px;
    position: relative;
    vertical-align: middle;    
    &::after{
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: -6px;
      width: 100%;
      height: 2px;
      background:rgba(0, 0, 0, 1);
    }
    &::before{
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: -6px;
      width: 100%;
      height: 2px;
      background:rgba(0, 0, 0, 1);
    }
  }
}
.section-registration{
  background-color: #f2f2f2;
  display: flex;
  min-height: 376px;
  padding-top: 35vh;
  padding-bottom: 6rem;
  .container{
    max-width: 400px;
  }
  a.input-border_close,
  button.input-border_close{
    background-color: #fff;
    &:hover{
      background-color: #ccc;
      color: #fff;
    }
  }
  .custom-select{
    border: none;
    padding: .1rem 1.2rem 0.25rem;
    color: #000000;
    outline: none!important;
    box-shadow: none;
    margin-left: -0.45rem;
    background: none;
    position: relative;
    //-moz-appearance:none;
    height: 2.2rem;
    option{
      padding-top: 0.2rem;
      padding-bottom: 0.2rem;
    }
  }
}
.input-border_select{
  position: relative;  
  &:before{
    content: '';
    display: block;
    position: absolute;
    right: -5px;
    top: 0;
    width: 2rem;
    height: 100%;
    background-color: #fff;
    transform: skewX(200deg);
    z-index: 3;
    pointer-events: none;
  }
  &:after{
    content: '';
    display: block;
    position: absolute;
    right: 0.8rem;
    top: 50%;
    margin-top: -3px;
    width: 0rem;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;    
    border-top: 5px solid black;
    z-index: 4;
    pointer-events: none;
    transform: skewX(200deg);
  }
}
.registration-title{
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #000000;
  font-weight: 400;
  a{
    color: #999999;
    display: inline-block;
    padding: 0 2px;
    &:hover{
      color: #000000;
    }
    &.active{
      color: #000000;
      &+a+a{
        pointer-events: none;
      }
    }    
  }
  &.validstep{
    .active{
      &+a+a{
        pointer-events: auto;
      }
    }   
  }
}
.registration-subtitle{
  color: #999999;
  font-size: 1.2rem;
  font-weight: 400;
  a{
    color: #999999;
    border-bottom: 1px solid;
    &:hover{
      color: #999999;
      border-bottom-color: transparent;
      text-decoration: none;
    }
  }
}
.forgot-password{
  color: #999999;
  font-size: 1rem;
  font-weight: 400;
  border-bottom: 1px solid;
  &:hover{
    color: #999999;
    border-bottom-color: transparent;
    text-decoration: none;
  }
}

#modal-img{
  padding-left: 0!important;
  overflow: hidden;
  .modal-dialog{
    max-width: 100%;
    margin: 0;
  }
  .close-modal{
    right: 1.5rem;
    top: 1.5rem;
    z-index: 3;
  }
  .modal-body{
    padding: 0;
  }
  .object-slider-big__item{
    height: 100vh;
    cursor: default;
  }
  .object-slider-sm__link{
    height: 6.5rem;
  }
  .slick-list{
    margin-right: -3px;
  }
}
.progress-bar{
  background-color: #3AA1D4;
  color: transparent;
  transition: width 1s linear;
}
.progress-row{
 display: flex;
 align-items: flex-end;
 .progress{
   flex: 1;
 }
}
.timer-value{
  font-size: 0.9rem;
  line-height: 0.9rem;
  display: inline-block;
  padding-left: 1rem;
}
.vue-tel-input{
  border: none!important;
  border-radius: 0!important;
  position: relative;
  &:focus{
    box-shadow: none!important;
    outline: none!important;
  }
  input{
    padding-left: 0;
    padding-right: 0;
  }
  &.invalid{
    input{
      color: red;
      &:-moz-placeholder,
      &::-moz-placeholder{
        color: red;
        opacity: 1;
      }
      &::-webkit-input-placeholder{
        color: red;
      }
      &:-ms-input-placeholder{
        color: red;
        opacity: 1;
      }
    }
  }
}
.vue-tel-input:focus-within{
  box-shadow: none!important;
  outline: none!important;
  border: none;
}
.vti__input{
  border-radius: 0!important;
  box-shadow: none!important;
  outline: none!important;
}
.input-border_phone{
  overflow: visible;
  padding-right: 8px;
  z-index: 5;
}
.vti__dropdown{
  outline: none!important;
}
.vti__dropdown:hover{
  background: transparent!important;
}
.vti__dropdown.open{
  background: transparent!important;
}
.link-devide{
  display: inline-block;
  padding: 0 7px;
}
.users-list{
  .row{
    position: relative;
  }
}
.z-index-0{
  z-index: 11;
}
.z-index-1{
  z-index: 10;
}
.z-index-2{
  z-index: 9;
}
.z-index-3{
  z-index: 8;
}
.z-index-4{
  z-index: 7;
}
.z-index-5{
  z-index: 6;
}
.z-index-6{
  z-index: 5;
}
.z-index-7{
  z-index: 4;
}
.z-index-8{
  z-index: 3;
}
.z-index-9{
  z-index: 2;
}
.z-index-10{
  z-index: 1;
}
.main-search-button:hover{
  text-decoration: none!important;
}
a:focus{
  outline: none;
}
.grey-link{
  font-size: 1rem;
  color: #999999;
  border-bottom: 1px solid;
  text-decoration: none;
  &:hover{
    color: #999999;
    border-bottom-color: transparent;
    text-decoration: none;
  }
  &.disabled{
    opacity: 0.6;
    pointer-events: none;
  }
}

/* mobile-first responsibility*/
@media (min-width: 576px) {
  .other-preview {
    min-height: rem(300px);
    max-height: rem(330px);
    max-width: 100%;
    img {
      max-width: rem(110px);
      margin-left: 1px;
    }
  }
  .filter-lg {
    padding-bottom: rem(246px);
    padding-top: rem(126px);
  }
  .address-list a {
    font-size: rem(17px);
  }
  .object-img-sm{
    .active-preview{
      min-height: 15.6rem;
    }
    .other-preview{
      max-height: 15.6rem;
      min-height: 14rem;
    }
  }  
  .vti__dropdown-list{
    top: 100%!important;
    left: -6px!important;
  }
}

@media (min-width: 768px) {
  .input-address-tags {
    .search-address-tags {
      &.full-width {
        max-width: rem(250px);
        li:not(.search-address-input) {
          margin-bottom: 0;
        }
      }
    }
  }

  .skew {
    transform: skewX(-200deg);

    > * {
      transform: skewX(200deg);
    }
  }

  .filter {
    padding-top: rem(50px);
    padding-bottom: rem(40px);

    ul.main-filter {
      margin: 0 rem(14px);
      padding: 0 rem(20px) 0 rem(30px);
      min-height: 100%;
    }
  }
  .address-list {
    column-count: 3;
    margin-bottom: rem(8px);
  }

  .bbtn {
    &.main-search-button {
      width: auto;
      height: 100%;
      display: flex;
      align-items: center;
      &:hover {
        opacity: 0.6;
      }
    }
  }

  .filter-tag-left {
    flex: 1;
    max-width: 100%;
  }

  .input-with-icon {
    height: 100%;
    position: relative;
    padding-left: rem(55px);
    padding-right: rem(35px);
    overflow: hidden;
    margin-right: rem(10px);
    display: block;
    margin-left: rem(12px);

    .search-tags {
      display: block;
      list-style: none;
      margin: 0;
      padding: rem(12px) 0 rem(11px);
      li:not(.search-tags-input) {
        display: inline-block;
        padding: rem(2px) rem(10px);
        margin: 0 rem(5px) rem(5px) 0;
        cursor: pointer;
        font-size: 0.9em;
        font-weight: 400;

        &:hover {
          background-color: $blue-2;
        }
      }
      li.search-tags-input {
        width: 100%;
        max-width: 29%;
        background: transparent;
        display: inline-block;
        input {
          max-width: 100%;
        }
      }
    }

    .bbtn-search {
      position: absolute;
      left: rem(15px);
      top: 50%;
      margin-top: rem(-12px);
    }
    input {
      border: none;
      height: 100%;
      max-width: 29%;
      outline: none;
    }
    .search-tags + input {
      height: auto;
      min-height: rem(70px);
    }
  }
  .mobileFilter {
    display: none !important;
  }
  .detail-filter {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.33);
    z-index: 2;
  }
  .mobile-search-input {
    display: none;
  }
  .modal-body .row-btn{  
    margin-left: auto;
    margin-right: auto;
    max-width: 28rem;
  }
  
}
@media (min-width: 992px)  {
  .filter ul.main-filter{
    display: flex;
    align-items: center;
    li{
      &:last-child{
        flex:1;
      }
    }
  }
  .input-address-tags .search-address-tags{
    padding-left: 10px;
    &.fix-input{
      position: absolute;
      right: calc(100% - 90px);
      top: 7px;
      max-width: 90px;
      &:hover{      
        background: #fff;
        width: auto;
        overflow: visible;
        max-width: 600px;
      }
      &.hidden-tags:hover::before{
        transform: scale(-1,-1);
        left: -20px;
        width: 20px;
      }
      &+input{
        margin-left: 90px;
        width: calc(100% - 90px);
        max-width: 100%;
      }
    }
  }
  .filter ul.main-filter .full-width-item{
    flex:1;
    .input-address-tags{
      position: relative;
      display: block;
      width: 100%;
      height: 40px;
      .search-address-tags.fix-input{
        right: 15px;
        max-width: 100%;
        top: 50%;
        transform: translateY(-50%);
        &:hover{
          max-width: 700px;
        }
      }
    }
  }
  .input-address-tags{
    &:hover{
      overflow: visible;
    }
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .filter-left{
    max-width: calc(100% - 180px);
    min-width: calc(100% - 141px);
  }
}

@media (min-width: 992px) {
  .input-address-tags {
    .search-address-tags {
      &.full-width {
        max-width: rem(190px);
      }
    }
  }
  .slick-arrow {
    display: block;
  }
  .address-list {
    column-count: 5;
  }
  .modal-lg, .modal-xl{
    max-width: 660px;
  }
}

@media (min-width: 1200px) {
  .address-list {
    column-count: 6;
  }
  .input-with-icon {
    padding-left: rem(80px);
  }
  .input-with-icon .bbtn-search {
    left: rem(42px);
    width: rem(22px);
    margin-top: rem(-13px);
  }
  .input-with-icon .bbtn-search img {
    max-width: 100%;
  }
  .main .filter {
    padding-top: 27vh;
    padding-bottom: rem(100px);
    min-height: 100vh;
  }

  .filter-wrap {
    max-height: rem(120px);
  }
  .filter-left{
    min-width: 0;    
    max-width: 100%;
    width: 100%;
    flex: 1;
  }

  .col-md-auto .main-search-button {
    background: none;
    background-image: url("../img/btn-tag.png");
    background-size: 100% 100%;
    transform: none !important;
    padding-left: rem(46px);
    padding-right: rem(46px);
    min-width: rem(208px);
    justify-content: center;
    span {
      transform: none !important;
    }
    &:hover {
      transform: none !important;
      background-color: transparent !important;
      opacity: 0.6;
    }
  }
  .filter ul.main-filter{
    margin-right: rem(-20px);
    width: calc(100% + 1.25rem);
  }
  .filter ul.main-filter > li:not(:last-child)::after{
    top:  auto;
  }
  .filter ul.main-filter,
  .input-with-icon {
    margin-right: rem(-20px);
    background-image: url("../img/filter-input-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent !important;
    transform: none;
    margin-left: 0;
    & > * {
      transform: none;
    }
  }
  .col-md-auto .main-search-button {
    background: none;
    background-image: url("../img/btn-tag.png");
    background-size: 100% 100%;
    transform: none !important;
    padding-left: rem(46px);
    padding-right: rem(46px);
    span {
      transform: none !important;
    }
    &:hover {
      transform: none !important;
      background-color: transparent !important;
      opacity: 0.6;
    }
  }
  .detail-filter {
    width: calc(100% - 1.8rem);
  }
}

@media (max-width: 1200px) {
  .offers-table .table {
    overflow: hidden;
  }
  .fullscreen-slider .slick-arrow.slick-prev{
    left: 15px;  
  }
  .fullscreen-slider .slick-arrow.slick-next{
    right: 15px;
  }
  .detail-filter{
    width: calc(100% - 10px)
  }
}

@media (max-width: 991px) {
  .input-with-icon input {
    min-width: rem(172px);
  }
  .bottom-offer {
    min-height: calc(100% - 20px);
  }
  .object-rooms{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .object-rooms .slick-slide{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
@media (max-width: 768px) {
  .main {
    .navbar-collapse.show,
    .navbar-collapse.collapsing {
      background: #fff;
      left: 0;
      width: calc(100% + rem(30px));
      position: relative;
      display: block !important;
      height: auto !important;
      .navbar-nav {
        background: #fff;
      }
    }
    .navbar-dark .navbar-text a {
      color: #353535;
    }
    .navbar-dark .navbar-nav .lang-item .nav-link {
      color: #353535;
    }
    .navbar-dark .navbar-nav .nav-link {
      color: #353535;
    }
    .navbar .langs a.active {
      color: #353535;
      opacity: 0.5;
    }
    .navbar-dark .navbar-text {
      color: #353535;
    }
  }
  .main .navbar-dark .navbar-text:nth-child(1) {
    width: 100%;
  }
  .main .navbar-dark .navbar-text:nth-child(3) {
    width: 37px;
  }
  .main .navbar-dark .b-nav-dropdown {
    width: 100%;
  }
  .main .navbar-dark .navbar-nav {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .main .navbar-dark .lock-icon {
    width: 20px;
  }
  .input-with-icon input {
    max-width: 52%;
  }
  .main .lock-icon img {
    display: none;
  }
  .main .lock-icon .lock-icon-mob {
    display: block;
  }
  .navbar-nav > * {
    margin-right: rem(15px);
  }
  .b-nav-dropdown {
    order: 6;
  }
  .dropdown-menu {
    margin-bottom: rem(15px);
  }
}

@media (max-width: 767px) {
  .bbtn.main-search-button {
    width: auto;
    margin-top: rem(15px);
    display: inline-block;
    padding-left: rem(30px);
    padding-right: rem(30px);
    padding-top: rem(10px);
    padding-bottom: rem(14px);
  }
  .mobileFilter .bbtn.main-search-button {
    width: calc(100% - 40px);
    margin-top: 0;
    display: block;
    padding: rem(17px) rem(63px);
    left: 20px;
  }
  .filter {
    padding-bottom: rem(30px);
  }
  .input-with-icon input {
    max-width: 100%;
  }
  .filter-left,
  .filter-tag-left,
  .filter-tag-left .input-with-icon {
    max-width: none;
  }
  .input-with-icon .search-tags {
    max-width: 92%;
    display: block;
    width: 100%;
    padding: 0;
  }
  li.search-tags-input {
    display: inline-block;
  }
  .mobileFilter .input-with-icon input {
    //height: rem(70px);
    height: auto;
    padding: 1px 0;
  }
  .mobileFilter .input-with-icon .search-tags {
    padding: rem(22px) 0;
  }
  .input-with-icon input {
    height: rem(60px);
  }
  .dropdown-item {
    padding: 0.2rem 0.8rem;
  }
  .bbtn-tags {
    width: 1.5625rem;
    height: 1.5625rem;
    padding: 0;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 0.8rem;
    margin-top: 0;
    right: 25px;
    img {
      vertical-align: top;
      max-width: 100%;
      height: 20px;
    }
  }
  .nav-mobile-top .col-2 {
    position: absolute;
  }
  .nav-mobile-top .col-9 {
    position: absolute;
    padding-left: 6.4rem;
  }
  .mobileFilter .bbtn-tags img {
    height: 1.7rem;
  }
  .input-with-icon .search-tags li.search-tags-input {
    display: none;
  }
  .mobileFilter .input-with-icon .search-tags {
    max-height: 164px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 4px 0;
  }
  .mobileFilter .input-with-icon {
    padding-left: 5.3rem;
  }
  .mobileFilter .input-with-icon .bbtn-search {
    left: 0;
    top: 1.96rem;
    display: none;
  }
  .tabs-with-icons {
    padding: 0.8rem 0;
    .col-auto {
      margin: 0.0rem auto 0.3rem;
    }
    .row{
      flex-direction: column-reverse;
    }
    ul:not(.list-icons){
      display: flex;
      flex-wrap: wrap;
    }
    .mr-auto li{
      width: 50%;
      text-align: center;
      border: 1px solid #fff;
      &:nth-child(1){
        border-bottom: none;
        border-right: none;
      }
      &:nth-child(2){
        border-bottom: none;
      }
      &:nth-child(3){
        border-right: none;
      }
    }
  }
  .main-header +.filter{
    padding-top: 2rem;
    padding-bottom: 2rem;
    .pt-5, .py-5{
      padding-top: 1rem!important;
    }
  }
  .filter-wrap:not(.mobileFilter) {
    .input-with-icon {
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .input-with-icon .search-tags {
      max-width: 100%;
    }
  }
  .filter-left {
    position: relative;
  }
  .filter-left .back-bbtn {
    position: absolute;
    left: 1.7rem;
    top: -0.9rem;
    width: 26px;
    height: 26px;
    outline: none;
    z-index: 5;
    img {
      vertical-align: top;
      width: 26px;
      height: 26px;
    }
  }
  .fullscreen-slider__title{
    font-size: 1.9rem;
    line-height: 2rem;
    max-width: 90%;
  }
  .fullscreen-slider__company,
  .fullscreen-slider__descr{
    font-size: 1.2rem;
  }
  .fullscreen-slider__star{
    width: 2rem;
    height: 2rem;
  }
  .bbtn-icon{
    height: 2rem;
  }
  .icons-list{
    margin: 0 -0.5rem;
    li{
      padding: 0 0.5rem;
    }
  }
  .btn-remove span{
    transform: translate(-50%, -50%) skewX(0deg);
  }
  .close-modal{
    right: 5px;
    top: 5px;
    &::before,
    &::after{
      background-color: #000;
    }
  }
  #modal-img .close-modal{
    &::before,
    &::after{
      background-color: #fff;
    }
  }
  .modal-body{
    padding: 2rem 1rem;
  }
  .object-desc .book-btn{
    margin-top: 2rem;
    border: none;
  }
  .book-btn > *{
    margin: 0;
  }
  .object-slider{
    margin-bottom: 1rem;
  }
  .object-sub-title-row{
    flex-wrap: wrap;  
  }
  .object-sub-title-row .object-address{
    margin: 0.2rem 0 0.4rem 0;
    width: 100%;
  }
  .object-title-row{
    flex-wrap: wrap;
  }
  .section-big-map{
    .ymap-container{
      height: 30rem;
      margin-bottom: 2rem;
    }
  }
  .section-big-map .col-padding{
    max-width: 540px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .mobileFilter .detail-filter{
    padding-left: 0!important;
    padding-right: 0!important;
    .row>div{
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  .filter-left ul.main-filter{
    width: 100%;
  }
  .mobileFilter ul.main-filter > li{
    margin-left: 0;
    margin-right: 0;
  }
  .offer-header{
    height: 10rem;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 990px;
  }
}

@media (min-width: 1200px) and (max-width: 1450px) {
  .layout-rooms-inf{
    font-size: 0.9rem;
  }
  .col-md-auto .main-search-button{
    min-width: 14rem;
  }
}
@media (max-width: 1449px) {
  .table-wrap-row{
    .rooms-table{
      overflow: hidden;
      width: 1150px;
    }
    .accordion{
      width: 1150px;
      overflow: hidden;
    }
    .container{ 
      padding-bottom: 1.8rem!important;    
      overflow: auto; 
    }
  }  
}
@media (max-width: 1023px) {
  .table-wrap-row .container{
    max-width: 100%;
    padding: 0;
  }
  .rooms-table .col_1{
    padding-left: 16px;
    min-width: 65px;
    max-width: 65px;
  }
  .rooms-table.table-sm th.col_1{
    padding-left: 16px;
  }
  .accordion-link{
    margin-left: 16px;
    max-width: calc(100vw - 36px);
  }
  .accordion{
    background-color: #EFEFEF;
  }
}

@media (min-width: 1450px) {
  .container {
    max-width: 1140px;
  }
  html {
    font-size: 16px;
  }
}

.mobileFilter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 500;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: rem(100px);
  margin: 0;

  .count-label {
    right: 0;
    top: 0;
  }

  .nav-mobile-top {
    height: rem(55px);
    border-bottom: 1px solid #bbb;
    position: fixed;
    width: 100%;
    z-index: 600;
    background: white;

    img {
      height: rem(32px);
    }
  }

  .input-address-tags {
    flex-direction: column;
    .search-address-tags {
      max-width: 100%;
      &.full-width {
        max-width: 100%;
      }

      &.hidden-tags {
        padding-left: 0;
        &::before {
          content: "";
          display: none;
        }
      }
    }
    input {
      width: 100%;
      max-width: 100%;
    }
  }

  ul.main-filter {
    background-color: white;
    margin: 0;
    margin-top: rem(57px);
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    > li {
      color: $black;
      vertical-align: middle;
      margin: rem(7px) rem(10px);
      line-height: 1.25;
      width: 100%;
      border-bottom: 1px solid #ccc;
      padding-bottom: 0.5em;
      padding-top: 0.5em;

      &:not(:last-child)::after {
        content: "";
        transform: skewX(0);
        display: inline-block;
        margin: 0;
        position: absolute;
        top: 0;
        font-size: 2.4rem;
        font-weight: 100;
        color: $gray-2;
      }
    }
  }
  .main-search-button {
    position: fixed;
    bottom: rem(15px);
    left: rem(30px);
    width: calc(100% - 60px);
    z-index: 1000;
    &:after {
      display: block;
      content: "";
      position: absolute;
      left: 0px;
      top: 100%;
      height: rem(15px);
      background: #fff;
      width: 100%;
    }
  }
  .main-filter li.main-filter__two-col {
    width: calc(50% - 1.45rem);
    display: inline-block;
    vertical-align: top;
  }

  .input-with-icon {
    input {
      width: 100%;
    }

    .bbtn {
      width: rem(25px);
      height: rem(25px);
      padding: 0;
      border: none;
      background-color: transparent;
      position: absolute;
      top: rem(29px);
      margin-top: 0;
    }

    .bbtn-details {
      right: rem(18px);
      top: 0.84rem;
      img {
        vertical-align: top;
      }
    }
    .bbtn-close {
      left: 0.55rem;
      top: 0.8rem;
      width: 26px;
      height: 26px;
      outline: none;
      img {
        vertical-align: top;
        width: 26px;
        height: 26px;
      }
    }

    .bbtn-search {
      top: rem(25px);
      left: rem(15px);
    }
  }

  .detail-filter {
    width: 100%;

    ul {
      &.search-by-tag-results {
        max-height: rem(200px);
        li {
          &::before {
            content: "";
            display: inline-block;
            height: 0;
            width: 0;
            background-image: none;
            margin-right: 0;
          }
          &:hover {
            background-color: $gray-4;
          }

          &.empty-search-by-tag {
            cursor: default;
            opacity: 0.8;
          }
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .offers-slider .slick-arrow.slick-prev{
    left: -1px;
  }
  .offers-slider .slick-arrow.slick-next{
    right: -1px;
  }
  .input-border input{
    padding: 0.2rem 0.8rem;
  }
  .object-slider{
    margin: 0 -15px 1rem;
  }
  .object-slider .slick-arrow.slick-next{
    right: 15px;
  }
  .object-slider .slick-arrow.slick-prev{
    left: 15px;
  }
  .object-sub-title-row .stations-list{
    flex-wrap: wrap;  
  }
  .map-btn{
    top: 1rem;
    left: 0;
    .bbtn{
      padding: 0.9rem 1.2rem;
      font-size: 1rem;
    }
  }
  .map-result{
    padding: 0.9rem 1.2rem;
    font-size: 1rem;
  }
  .offers-table{
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
    width: calc(100% + 30px);
  }
  .table-wrap-row .rooms-table{
    margin-left: 0;
    margin-right: 0;
  }
  .footer .navbar-nav > *{
    margin: 0;
  }
  .footer .navbar{
    padding-left: 0;
    padding-right: 0;
  }
  #modal-img{
    .slick-arrow.slick-next{
      right: 2rem;
    }
    .slick-arrow.slick-prev{
      left: 2rem;
    }
  }
  .section-registration .custom-select{
    margin-left: 0;
    padding-left: 0.8rem;
  }
  .section-registration{
    padding-top: 20vh;
  }
  .input-border_select:before,
  .input-border_select:after{
    transform: none;
  }
  .accordion-cont .rooms-table{
    margin-left: -2.35rem;
  }
}


@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .input-border input:-moz-placeholder,
    .input-border input::-moz-placeholder {
      position: relative;
      top: 3px;
    }
    .input-border input::-webkit-input-placeholder {
      position: relative;
      top: 3px;
    }
    .input-border input:-ms-input-placeholder {
      position: relative;
      top: 3px;
    }
  }
}
@media screen and (min-width: 768px){
  .ios.section-registration .custom-select{
    margin-left: 8px;
  }
}
