<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>КНАМ Недвижимость</title>
  <link type="text/css" rel="stylesheet" href="./css/style.css" />
  <link type="text/css" rel="stylesheet" href="./fonts/Oswald/stylesheet.css" />
  <style>
    .loader-sreen {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      z-index: 10000;
    }
    @keyframes loaded-1 {
      0%   {fill:#fbc84d;}
      25%  {fill:#000;}
      50%  {fill:#000;}
      75%  {fill:#000;}      
      100%  {fill:#fbc84d;}      
    }
    @keyframes loaded-2 {
      0%   {fill:#000;}
      25%  {fill:#4188f9;}
      50%  {fill:#000;}
      75%  {fill:#000;}      
      100%  {fill:#000;}
    }
    @keyframes loaded-3 {
      0%   {fill:#000;}
      25%  {fill:#000;}
      50%  {fill:#60c54f;}
      75%  {fill:#000;}      
      100%  {fill:#000;}
    }
    @keyframes loaded-4 {
      0%   {fill:#000;}
      25%  {fill:#000;}
      50%  {fill:#000;}
      75%  {fill:#eb6142;}      
      100%  {fill:#000;}      
    }
    .icon-load {
      width: 60px;
      height: 60px;
      position: fixed;
      left: 50%;
      top: 50%;
      margin-top: -30px;
      margin-left: -30px;     
    }
    .st1{
      animation: loaded-4 5s infinite;
    }
    .st2{
      animation: loaded-3 5s infinite;
    }
    .st3{
      animation: loaded-2 5s infinite;
    }
    .st4{
      animation: loaded-1 5s infinite;
    }
    
  </style>
</head>

<body>
  <div id="app">
    <div class="loader-sreen" v-if="loading">
      <svg x="0px" y="0px" viewBox="0 0 43.1 44.3" class="icon-load">
        <path class="st1" d="M8.1,20.7l8.1-7.2V0L0.5,14L8.1,20.7z"/>
        <path class="st2" d="M0,16.3v13.5l16.2,14.5V30.8L0,16.3z"/>
        <path class="st3" d="M35,23.6l-8.1,7.2v13.5l15.7-14L35,23.6z"/>
        <path class="st4" d="M26.9,13.5L43.1,28V14.5L26.9,0V13.5z"/>
      </svg>
    </div>
    <b-navbar toggleable="lg" type="dark" variant="dark" class="header-transparent" v-click-outside="closeNav">
      <b-navbar-brand href="MAIN-PAGE.html" class="logo">
        <img src="./img/main/logo.svg" alt="" class="logo_img" />
      </b-navbar-brand>
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
      <b-collapse id="nav-collapse" is-nav v-model="showNav">
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-text>
            <a href="#" class="header-link underlined">Как работать с площадкой</a>
          </b-nav-text>
          <b-nav-item-dropdown :text="location.name" right class="lang-item">
            <b-dropdown-item href="#" v-for="loc in locations" :key="loc.code">{{ loc.name }}</b-dropdown-item>
          </b-nav-item-dropdown>
          <b-nav-text class="langs">
            <a href="#">EN</a>
            <span> | </span>
            <a class="active">RU</a>
          </b-nav-text>
          <b-nav-item href="LOGIN.html" class="lock-icon">
            <img src="./img/icons/lock-open.svg" alt="" />
          </b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <b-container fluid class="fullscreen-slider">
      <div class="slider-for fullscreen-slider-img">
        <b-container fluid class="fullscreen-slider__item" style="background-image: url('img/big-house.jpg');"></b-container>
      </div>
      <b-container>
        <a href="DEVELOPER-2.html" class="slick-arrow slick-prev"><img src="img/icons/arr-slider-left_white.svg" alt=""></a>
        <a href="DEVELOPER-2.html" class="slick-arrow slick-next"><img src="img/icons/arr-slider-right_white.svg" alt=""></a>
        <div class="slider-nav">
          <b-container fluid class="fullscreen-slider__item" v-for=" (developer,i) in developers" :key="i">
            <div class="fullscreen-slider__cont">
              <div class="fullscreen-slider__company">
                <img src="img/icons/star.svg" class="fullscreen-slider__star" alt="">
                <span>{{ developer.name }}</span>
              </div>
              <div class="fullscreen-slider__title skew"><span>{{ developer.title }}</span></div>
              <div class="fullscreen-slider__descr">{{ developer.description }}</div>
            </div>
          </b-container>
        </div>
      </b-container>
    </b-container>
    <b-container fluid class="grey-section section-text">
      <b-container>
        <p class="pt-3 pb-3">Компания реализует проекты жилой недвижимости для среднего класса в Санкт-Петербурге, а также в Москве и Московской области.Компания имеет собственный парк строительной техники, заводы по изготовлению стройматериалов, подрядные и генподрядные организации. Это позволяет не только качественно выполнять свои проекты, но и оказывать строительные услуги другим игрокам рынка недвижимости.<br>
          За 31 год работы Группа «Эталон» ввела в эксплуатацию более 6 млн. кв. м недвижимости. В объектах Компании проживает более 250 тыс. человек. Знаковыми проектами московского региона являются ЖК «Изумрудные холмы», ЖК «Эталон-Сити», ЖК «Летний сад», ЖК «Нормандия», ЖК «Золотая звезда», ЖК «Серебряный фонтан». С 2011 г. глобальные депозитарные расписки Группы «Эталон» торгуются на основном рынке Лондонской фондовой биржи.
        </p>
      </b-container>
    </b-container>
    <b-container class="text-center pt-4 pb-3 developer-title">
      <h1 class="blue-1">Все новостройки Эталон Инвест</h1>
    </b-container>
    <div class="tabs tabs-with-icons">
      <b-container>
        <b-row class="align-items-center">
          <b-col cols="auto" class="mr-auto">
            <ul>
              <li class="skew">
                <a href="VIEW-1.html"></a>
                <span>Общий вид</span>
              </li>
              <li class="skew active">
                <a href="VIEW-2.html"></a>
                <span>Сводный вид</span>
              </li>
              <li class="skew">
                <a href="VIEW-3.html"></a>
                <span>Табличный вид</span>
              </li>
              <li class="skew">
                <a href="VIEW-4.html"></a>
                <span>Каталог планировок</span>
              </li>
            </ul>
          </b-col>
          <b-col cols="auto">
            <ul class="list-icons">
              <li>
                <a href="#"><span id="pdf-save"><img src="img/icons/pdf.svg" alt=""></span></a>
                <b-tooltip target="pdf-save" placement="rightbottom" custom-class="tooltip-skew">
                  <span class="skew"><span>Сохранить в PDF</span></span>
                </b-tooltip>
              </li>
              <li>
                <a href="#"><span  id="message-save"><img src="img/icons/message.svg" alt=""></span></a>
                <b-tooltip target="message-save" placement="rightbottom" custom-class="tooltip-skew">
                  <span class="skew"><span>Отправить письмом</span></span>
                </b-tooltip>
              </li>
            </ul>
          </b-col>
        </b-row>
      </b-container>
    </div>
    
    <div class="content-wrapper" v-for="view in views" :key="view.code">
      <b-container v-if="view.isActive&&view.code==='general'"> {{ view.name }}</b-container>
      <b-container v-if="view.isActive&&view.code==='common'">
        <b-row>
          <b-col cols="12" sm="6" lg="4" v-for="(item,i) in items" :key="i" class="mb-5 desc">
            <a href="#"><b-col cols="12" sm="9" class="active-preview active-preview_sm" :style="{'background-image': 'url('+item.selectedPicture.src||item.selectedPicture.href+')'}">
            </b-col></a>
            <div class="d-lg-block mt-2"></div>
            <a href="#"><span class="h3 blue-2"> {{ item.discount }}</span></a>
            <span class="h3">{{ item.title }}</span>
            <ul class="stations-list mt-3">
              <li v-for="(station, index) in item.stations" :key="index">
                <span class="h3 station" :class="station.color">{{ station.name }}</span>
              </li>
            </ul>
            <!-- responsible-divider -->
            <div class="d-none d-lg-block mt-2"></div>
            <p class="">{{ item.text }}<a class="more-link blue-1" href="#">Подробнее</a></p>
            <!-- responsible-divider -->
            <span class="h2">{{ item.price }}</span>
            <p class="detail">Ваше вознаграждение {{ item.affiliateValue }}</p>
          </b-col>
        </b-row>
        <b-container class="mt-4 mb-4">
          <b-row class="align-items-center justify-content-center">
            <span class="pagination-text mr-4">{{ currentPage }} из {{ rows }}</span>
            <b-pagination v-model="currentPage" :total-rows="rows" size="sm"></b-pagination>
          </b-row>
        </b-container>
      </b-container>
      <b-container v-if="view.isActive&&view.code==='catalog'">{{ view.name }}</b-container>
      <b-container v-if="view.isActive&&view.code==='table'">{{ view.name }}</b-container>
    </div>
    <div class="bottom-offers pt-4 pb-4 mb-4">
      <b-container>
        <span class="h4">Другие предложения</span>
        <b-row class="mt-3" v-if="isMobileWidth">
          <b-col cols="12" sm="6" md="6" v-for="(offer,i) in offers" :key="'offer-'+i">
            <div class="bottom-offer mb-3">
              <div class="offer-header" :style="{'background-image': 'url('+offer.img+')'}"></div>
              <div class="p-3">
                <span class="h3 blue-1"><a href="#">{{ offer.title }}</a></span>
                <span class="mt-3 h3">{{ offer.price }}</span>
                <span class="mt-3 h3 gray">{{ offer.address }}</span>
              </div>
            </div>
          </b-col>
        </b-row>
        <b-row class="mt-3" v-else>
          <b-col style="min-width: 190px;" v-for="(offer,i) in offers" :key="'offer-'+i">
            <div class="bottom-offer mb-3">
              <div class="offer-header" :style="{'background-image': 'url('+offer.img+')'}"></div>
              <div class="p-3">
                <span class="h3 blue-1"><a href="OBJECT.html">{{ offer.title }}</a></span>
                <span class="mt-3 h3">{{ offer.price }}</span>
                <span class="mt-3 h3 gray">{{ offer.address }}</span>
              </div>
            </div>
          </b-col>
        </b-row>
      </b-container>
    </div>    
    <div class="footer-grey ">
      <b-container class="footer  p-3">
        <b-row class="align-items-center">
          <b-col cols="auto" class="mr-auto">
            <b-navbar-brand href="MAIN-PAGE.html" class="logo-grey">
              <img src="./img/main/logo-grey.svg" alt="" class="logo_img" />
            </b-navbar-brand>
            <span class="copyright">&copy; 2019</span>
          </b-col>
          <b-col cols="auto">
            <b-navbar toggleable="lg" type="light">
              <b-navbar-nav>
                <b-nav-item href="#" class="underline">Написать в поддержку</b-nav-item>
                <b-nav-item href="#" class="underline">Система вознаграждений</b-nav-item>
              </b-navbar-nav>
            </b-navbar>
          </b-col>
        </b-row>
      </b-container>
    </div>
  </div>
  <script src="./dist/bundle.js"></script>
</body>

</html>