<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>КНАМ Недвижимость</title>
  <link type="text/css" rel="stylesheet" href="./fonts/Oswald/stylesheet.css" />
  <link type="text/css" rel="stylesheet" href="./css/style.css" />
  <style>
    .loader-sreen {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      z-index: 10000;
    }
    @keyframes loaded-1 {
      0%   {fill:#fbc84d;}
      25%  {fill:#000;}
      50%  {fill:#000;}
      75%  {fill:#000;}      
      100%  {fill:#fbc84d;}      
    }
    @keyframes loaded-2 {
      0%   {fill:#000;}
      25%  {fill:#4188f9;}
      50%  {fill:#000;}
      75%  {fill:#000;}      
      100%  {fill:#000;}
    }
    @keyframes loaded-3 {
      0%   {fill:#000;}
      25%  {fill:#000;}
      50%  {fill:#60c54f;}
      75%  {fill:#000;}      
      100%  {fill:#000;}
    }
    @keyframes loaded-4 {
      0%   {fill:#000;}
      25%  {fill:#000;}
      50%  {fill:#000;}
      75%  {fill:#eb6142;}      
      100%  {fill:#000;}      
    }
    .icon-load {
      width: 60px;
      height: 60px;
      position: fixed;
      left: 50%;
      top: 50%;
      margin-top: -30px;
      margin-left: -30px;     
    }
    .st1{
      animation: loaded-4 5s infinite;
    }
    .st2{
      animation: loaded-3 5s infinite;
    }
    .st3{
      animation: loaded-2 5s infinite;
    }
    .st4{
      animation: loaded-1 5s infinite;
    }
    
  </style>
</head>

<body class="main">
  <div id="app">
    <div class="loader-sreen" v-if="loading">
      <svg x="0px" y="0px" viewBox="0 0 43.1 44.3" class="icon-load">
        <path class="st1" d="M8.1,20.7l8.1-7.2V0L0.5,14L8.1,20.7z"/>
        <path class="st2" d="M0,16.3v13.5l16.2,14.5V30.8L0,16.3z"/>
        <path class="st3" d="M35,23.6l-8.1,7.2v13.5l15.7-14L35,23.6z"/>
        <path class="st4" d="M26.9,13.5L43.1,28V14.5L26.9,0V13.5z"/>
      </svg>
    </div>
    <b-container class="pt-lg-5">
      <ul>
        <li style="padding: 5px 0">
          <a href="MAIN-PAGE.html" target="_blank"
            rel="noopener noreferrer">MAIN-PAGE</a>
        </li>
        <li style="padding: 5px 0">
          <a href="VIEW-1.html" target="_blank"
            rel="noopener noreferrer">КНАМ-ВИДЫ-1</a>
        </li>
        <li style="padding: 5px 0">
          <a href="VIEW-2.html" target="_blank"
            rel="noopener noreferrer">КНАМ-ВИДЫ-2</a>
        </li>
        <li style="padding: 5px 0">
          <a href="VIEW-3.html" target="_blank"
            rel="noopener noreferrer">КНАМ-ВИДЫ-3</a>
        </li>
        <li style="padding: 5px 0">
          <a href="VIEW-4.html" target="_blank"
            rel="noopener noreferrer">КНАМ-ВИДЫ-4</a>
        </li>
        <li style="padding: 5px 0">
          <a href="DEVELOPER.html" target="_blank"
            rel="noopener noreferrer">КНАМ-ЗАСТРОЙЩИК</a>
        </li>
        <li style="padding: 5px 0">
          <a href="OBJECT.html" target="_blank"
            rel="noopener noreferrer">КНАМ-ОБЬЕКТ-Обьект</a>
        </li>
        <li style="padding: 5px 0">
          <a href="CARD.html" target="_blank"
            rel="noopener noreferrer">КНАМ-КАРТА ВЫДАЧА</a>
        </li>
        <li style="padding: 5px 0">
          <a href="LOGIN.html" target="_blank"
            rel="noopener noreferrer">LOGIN</a>
        </li>
        <li style="padding: 5px 0">
          <a href="REGISTRATION.html" target="_blank"
            rel="noopener noreferrer">REGISTRATION</a>
        </li>
      </ul>
    </b-container>
  </div>
  <script src="./dist/bundle.js"></script>
</body>

</html>