<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>КНАМ Недвижимость</title>
  <link type="text/css" rel="stylesheet" href="./fonts/Oswald/stylesheet.css" />
  <link type="text/css" rel="stylesheet" href="./css/style.css" />
  <style>
    .loader-sreen {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      z-index: 10000;
    }
    @keyframes loaded-1 {
      0%   {fill:#fbc84d;}
      25%  {fill:#000;}
      50%  {fill:#000;}
      75%  {fill:#000;}      
      100%  {fill:#fbc84d;}      
    }
    @keyframes loaded-2 {
      0%   {fill:#000;}
      25%  {fill:#4188f9;}
      50%  {fill:#000;}
      75%  {fill:#000;}      
      100%  {fill:#000;}
    }
    @keyframes loaded-3 {
      0%   {fill:#000;}
      25%  {fill:#000;}
      50%  {fill:#60c54f;}
      75%  {fill:#000;}      
      100%  {fill:#000;}
    }
    @keyframes loaded-4 {
      0%   {fill:#000;}
      25%  {fill:#000;}
      50%  {fill:#000;}
      75%  {fill:#eb6142;}      
      100%  {fill:#000;}      
    }
    .icon-load {
      width: 60px;
      height: 60px;
      position: fixed;
      left: 50%;
      top: 50%;
      margin-top: -30px;
      margin-left: -30px;     
    }
    .st1{
      animation: loaded-4 5s infinite;
    }
    .st2{
      animation: loaded-3 5s infinite;
    }
    .st3{
      animation: loaded-2 5s infinite;
    }
    .st4{
      animation: loaded-1 5s infinite;
    }
    
  </style>
</head>

<body class="main">
  <div id="app">
    <div class="loader-sreen" v-if="loading">
      <svg x="0px" y="0px" viewBox="0 0 43.1 44.3" class="icon-load">
        <path class="st1" d="M8.1,20.7l8.1-7.2V0L0.5,14L8.1,20.7z"/>
        <path class="st2" d="M0,16.3v13.5l16.2,14.5V30.8L0,16.3z"/>
        <path class="st3" d="M35,23.6l-8.1,7.2v13.5l15.7-14L35,23.6z"/>
        <path class="st4" d="M26.9,13.5L43.1,28V14.5L26.9,0V13.5z"/>
      </svg>
    </div>
    <b-navbar toggleable="lg" type="dark" variant="dark"
      class="header-transparent pt-3" v-click-outside="closeNav">
      <b-navbar-toggle target="nav-collapse" @click="closeNav" class="ml-auto">
      </b-navbar-toggle>
      <b-collapse id="nav-collapse" is-nav v-model="showNav">
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-text>
            <a href="#" class="header-link underlined">Как работать с
              площадкой</a>
          </b-nav-text>
          <b-nav-item-dropdown :text="location.name" right class="lang-item">
            <b-dropdown-item href="#" v-for="loc in locations" :key="loc.code">
              {{ loc.name }}</b-dropdown-item>
          </b-nav-item-dropdown>
          <b-nav-text class="langs">
            <a href="#">EN</a>
            <span> | </span>
            <a class="active">RU</a>
          </b-nav-text>
          <b-nav-item href="LOGIN.html" class="lock-icon">
            <img src="./img/icons/lock-open.svg" alt="" />
            <img src="./img/icons/lock-open-black.svg" class="lock-icon-mob"
              alt="" />
          </b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <b-container fluid class="filter filter-lg">
      <b-container>
        <div class="filter-bg"></div>
        <b-row class="justify-content-md-center no-gutters mb-2">
          <b-col cols="12">
            <b-navbar-brand href="MAIN-PAGE.html">
              <img src="./img/main/logo.svg" alt="" class="logo_img" />
            </b-navbar-brand>
          </b-col>
        </b-row>
        <b-row class="justify-content-md-center no-gutters title-bg-row">
          <b-col cols="12">
            <div class="text-center title-bg"><span>Федеральная система
                бронирования</span></div>
          </b-col>
        </b-row>
        <!-- filter -->
        <b-row class="justify-content-md-center filter-wrap"
          :class="{mobileFilter:useMobileFilter&&detailFilter}">
          <b-col cols="12" md="12">
            <div v-click-outside="closeDetailFilter">
              <b-row class="justify-content-md-left no-gutters">
                <b-col cols="12" md="auto" class="media-body filter-tag-left"
                  v-if="searchType===searchTypes.SEARCH_BY_TAG">
                  <div class="skew bg-white input-with-icon"
                    @click="focusInput">
                    <button class="bbtn bbtn-search">
                      <img src="img/icons/search.svg" alt="" />
                    </button>
                    <ul ref="search_tags" class="grey search-tags">
                      <li class="skew"
                        v-for="(tag,i) in searchActiveResultsByTag"
                        :key="'s-tag'+i" @click="removeVariantFromTagSearch(i)">
                        <span>{{tag}}</span>
                      </li>
                      <li class="search-tags-input">
                        <input v-model="searchText"
                          @keydown.delete="deleteFilterResults"
                          @keydown.enter="addToSearch(searchText)"
                          :placeholder="!searchActiveResultsByTag.length ? 'Начните вводить теги' : 'добавьте еще тегов'"
                          type="text" ref="search_input" />
                      </li>
                    </ul>
                    <input v-model="searchText"
                      @keydown.delete="deleteFilterResults"
                      @keydown.enter="addToSearch(searchText)"
                      :placeholder="!searchActiveResultsByTag.length ? 'Начните вводить теги' : 'добавьте еще тегов'"
                      type="text" ref="search_input"
                      class="mobile-search-input" />
                    <template v-if="useMobileFilter&&detailFilter">
                      <button class="bbtn bbtn-details"
                        @click="showMainFilter(searchTypes.SEARCH_BY_FILTER)">
                        <img
                          src="https://www.avito.st/mstatic/build/6dd38f797f2297b9ec2a8af0bcf6cee7.svg"
                          alt="" />
                      </button>
                      <button class="bbtn bbtn-close"
                        @click.stop="detailFilter=false">
                        <img
                          src="https://www.avito.st/mstatic/build/7d10231595fa386f534c52c7b6c65372.svg"
                          alt="" />
                      </button>
                    </template>
                  </div>
                </b-col>
                <b-col cols="12" md="auto"
                  v-if="searchType===searchTypes.SEARCH_BY_FILTER"
                  class="filter-left">
                  <b-row align-v="center" v-if="useMobileFilter"
                    class="nav-mobile-top">
                    <b-col cols="2" class="text-center">
                      <div class="back-bbtn" @click="mobileCloseFromFilter">
                        <img
                          src="https://www.avito.st/mstatic/build/7d10231595fa386f534c52c7b6c65372.svg"
                          alt="close" />
                      </div>
                    </b-col>
                    <b-col cols="9"><span class="blue text-center">Фильтр</span>
                    </b-col>
                    <button class="bbtn-tags"
                      @click="showMainFilter(searchTypes.SEARCH_BY_TAG)">
                      <img src="img/icons/search.svg" alt="" />
                    </button>
                  </b-row>
                  <ul class="skew main-filter" @click="detailFilter=true" :class="{'hide-input':searchActiveResultsByAddress.length >= 4}">
                    <li @click="setFilterParam('area')"
                      class="main-filter__two-col">
                      <span>{{areasSelectedFirst}} <span
                          v-if="areasSelected.length > 1"
                          class="count-label">{{areasSelected.length}}</span></span>
                    </li>
                    <li @click="setFilterParam('category')"
                      class="main-filter__two-col">
                      <span>Категория</span>
                    </li>
                    <li @click="setFilterParam('size')"><span>1.2 комн.</span>
                    </li>
                    <li class="main-filter__two-col">
                      <span>от <input class="clean-input" placeholder="0"
                          @click.stop="()=>{}" type="number"
                          v-model.number="fromPrice" pattern="\d*"
                          onKeyPress="if(this.value.length==4) return false;" />
                        млн/&#8381;</span>
                    </li>
                    <li class="main-filter__two-col">
                      <span>до <input class="clean-input" type="number"
                          @click.stop="()=>{}" v-model.number="upToPrice"
                          placeholder="2500" pattern="\d*"
                          onKeyPress="if(this.value.length==4) return false;" />
                        млн/&#8381;</span>
                    </li>
                    <li @click="setFilterParam('address')"
                      :class="{'full-width-item':searchActiveResultsByAddress.length >= 4}"
                    >
                      <div class="bg-white input-address-tags"
                        @click="focusAddressInput">
                        <ul class="grey search-address-tags "
                          :class="{'hidden-tags':addressOverflow,'full-width':searchActiveResultsByAddress.length >= 4, 'fix-input':searchActiveResultsByAddress.length >= 1}"
                          :title="searchActiveResultsByAddress.join(',')"
                          >
                          <li class="skew"
                            v-for="(addressTag,i) in searchActiveResultsByAddress"
                            :key="'s-addressTag'+i"
                            @click="removeVariantFromAddressSearch(i)">
                            <span>{{addressTag}}</span>
                          </li>
                        </ul>
                        <input v-if="searchActiveResultsByAddress.length < 4"
                          v-model="searchTextAddress"
                          @keydown.delete="deleteFilterResultsAddress"
                          @keydown.enter="addToAddressFilter(searchTextAddress)"
                          :placeholder="!searchActiveResultsByAddress.length ? 'Метро,район,ЖК' : 'добавьте еще'"
                          type="text" ref="search_address_input" />
                        <!-- <input
                            v-model="searchTextAddress"
                            @keydown.delete="deleteFilterResultsAddress"
                            @keydown.enter="addToAddressFilter(searchText)"
                            :placeholder="!searchActiveResultsByAddress.length ? 'Начните вводить теги' : 'добавьте еще тегов'"
                            type="text"
                            ref="search_address_input"
                            class="mobile-search-input"
                          /> -->
                      </div>
                      <!-- <span>Город, адрес, метро, район, ЖК<br />Москва</span> -->
                    </li>
                  </ul>
                </b-col>
                <b-col cols="12" md="auto">
                  <a href="LOGIN.html" class="bbtn blue skew main-search-button"><span>{{searchButtonTitle}}</span></a>
                </b-col>
              </b-row>
              <b-row class="no-gutters justify-content-md-left"
                v-show="detailFilter">
                <div class="detail-filter mt-2 p-3">
                  <template v-if="searchType===searchTypes.SEARCH_BY_FILTER">
                    <template v-if="currentFilterParam==='area'">
                      <b-row>
                        <b-col cols="12" md="2"
                          :class="!useMobileFilter?'text-right':''">Жилая
                        </b-col>
                        <b-col cols="12" md="10">
                          <ul class="grey-border search-by-filter">
                            <li class="skew" :class="{active:item.active}"
                              @click="item.active=!item.active"
                              v-for="(item,i) in areas.live" :key="'live-'+i">
                              <span>{{item.name}}</span>
                            </li>
                          </ul>
                        </b-col>
                      </b-row>
                      <b-row class="mt-3">
                        <b-col cols="12" md="2"
                          :class="!useMobileFilter?'text-right':''">
                          Коммерческая </b-col>
                        <b-col cols="12" md="10">
                          <ul class="grey search-by-filter">
                            <li class="skew" :class="{active:item.active}"
                              @click="item.active=!item.active"
                              v-for="(item,i) in areas.commercial"
                              :key="'live-'+i">
                              <span>{{item.name}}</span>
                            </li>
                          </ul>
                        </b-col>
                      </b-row>
                    </template>
                    <template v-if="currentFilterParam==='area'"></template>
                    <template v-if="currentFilterParam==='category'"> содержание
                      фильтра category </template>
                    <template v-if="currentFilterParam==='size'"> содержание
                      фильтра size </template>
                    <template v-if="currentFilterParam==='address'">
                      <b-row>
                        <ul class="search-by-tag-results"
                          v-if="this.searchActiveResultsByAddress.length < 4">
                          <li class="empty-search-by-tag"
                            v-if="!searchResultsByAddress.length"> Нет данных,
                            введите другой запрос </li>
                          <li v-for="(res,i) in searchResultsByAddress"
                            :key="'res'+i" @click="addToAddressFilter(res)">
                            {{res}} </li>
                        </ul>
                      </b-row>
                    </template>
                  </template>
                  <template v-if="searchType===searchTypes.SEARCH_BY_TAG">
                    <b-row>
                      <ul class="search-by-tag-results">
                        <li class="empty-search-by-tag"
                          v-if="!searchResultsByTag.length"> Нет данных, введите
                          другой запрос </li>
                        <li v-for="(res,i) in searchResultsByTag" :key="'res'+i"
                          @click="addToSearch(res)"> {{res}} </li>
                      </ul>
                    </b-row>
                  </template>
                  <b-row v-if="!useMobileFilter"
                    class="pt-5 justify-content-md-center">
                    <b-col cols="6" sm="6" lg="3" class="text-center">
                      <a href="CARD.html" class="search-option">Поиск по карте</a>
                    </b-col>
                    <b-col cols="6" sm="6" lg="3" class="text-center"
                      v-if="searchType===searchTypes.SEARCH_BY_FILTER">
                      <a class="search-option"
                        @click="showMainFilter(searchTypes.SEARCH_BY_TAG)">Поиск
                        по тегам</a>
                    </b-col>
                    <b-col cols="6" sm="6" lg="3" class="text-center"
                      v-if="searchType===searchTypes.SEARCH_BY_TAG">
                      <a class="search-option"
                        @click="showMainFilter(searchTypes.SEARCH_BY_FILTER)">Поиск
                        по фильтру</a>
                    </b-col>
                  </b-row>
                </div>
              </b-row>
            </div>
            <b-row class="pt-4 justify-content-md-center"
              v-show="!detailFilter">
              <b-col cols="6" sm="6" lg="2" class="text-center">
                <a href="CARD.html" class="search-option">Поиск по карте</a>
              </b-col>
              <b-col cols="6" sm="6" lg="3" class="text-center"
                v-if="searchType===searchTypes.SEARCH_BY_FILTER">
                <a class="search-option"
                  @click="showMainFilter(searchTypes.SEARCH_BY_TAG)">Поиск по
                  тегам</a>
              </b-col>
              <b-col cols="6" sm="6" lg="3" class="text-center"
                v-if="searchType===searchTypes.SEARCH_BY_TAG">
                <a class="search-option"
                  @click="showMainFilter(searchTypes.SEARCH_BY_FILTER)">Поиск по
                  фильтру</a>
              </b-col>
            </b-row>
          </b-col>
        </b-row>
      </b-container>
    </b-container>
    <div class="bottom-offers pt-4 pb-4">
      <b-container>        
        <span class="h4">Другие предложения</span>
        <b-row class="mt-3" v-if="isMobileWidth">
          <b-col cols="12" sm="6" md="6" v-for="(offer,i) in offers"
            :key="'offer-'+i">
            <div class="bottom-offer mb-3">
              <div class="offer-header"
                :style="{'background-image': 'url('+offer.img+')'}"></div>
              <div class="p-3">
                <span class="h3 blue-1"><a href="OBJECT.html">{{ offer.title }}</a></span>
                <span class="mt-3 h3">{{ offer.price }}</span>
                <span class="mt-3 h3 gray">{{ offer.address }}</span>
              </div>
            </div>
          </b-col>
        </b-row>
        <b-row class="mt-3" v-else>
          <b-col style="min-width: 190px;" v-for="(offer,i) in offers"
            :key="'offer-'+i">
            <div class="bottom-offer mb-3">
              <div class="offer-header"
                :style="{'background-image': 'url('+offer.img+')'}"></div>
              <div class="p-3">
                <span class="h3 blue-1"><a href="OBJECT.html">{{ offer.title }}</a></span>
                <span class="mt-3 h3">{{ offer.price }}</span>
                <span class="mt-3 h3 gray">{{ offer.address }}</span>
              </div>
            </div>
          </b-col>
        </b-row>
      </b-container>
    </div>
    <div class="grey-section pt-4 pb-4">
      <b-container>
        <div class="mb-4">
          <span class="h4 mb-4">Квартиры у метро</span>
          <ul class="address-list">
            <li v-for="(addressItem,i) in addressList" :key="'addressItem-'+i">
              <a href="CARD.html">{{ addressItem.name }}</a>
            </li>
          </ul>
          <a href="#" class="show-more-item">
            <span>Показать все</span>
            <img src="img/icons/arr-bottom.svg" alt="" />
          </a>
        </div>
        <div class="mb-4">
          <span class="h4 mb-4">Квартиры в районе</span>
          <ul class="address-list">
            <li v-for="(addressItem,i) in addressList" :key="'addressItem-'+i">
              <a href="#" class="">{{ addressItem.name }}</a>
            </li>
          </ul>
          <a href="#" class="show-more-item">
            <span>Показать все</span>
            <img src="img/icons/arr-bottom.svg" alt="" />
          </a>
        </div>
      </b-container>
    </div>
    <b-container class="footer p-3">
      <b-row class="align-items-center">
        <b-col cols="auto" class="mr-auto">
          <b-navbar-brand href="MAIN-PAGE.html" class="logo-grey">
            <img src="./img/main/logo-grey.svg" alt="" class="logo_img" />
          </b-navbar-brand>
          <span class="copyright">&copy; 2019</span>
        </b-col>
        <b-col cols="auto">
          <b-navbar toggleable="lg" type="light">
            <b-navbar-nav>
              <b-nav-item href="#" class="underline">Написать в поддержку
              </b-nav-item>
              <b-nav-item href="#" class="underline">Система вознаграждений
              </b-nav-item>
            </b-navbar-nav>
          </b-navbar>
        </b-col>
      </b-row>
    </b-container>
  </div>
  <script src="./dist/bundle.js"></script>
</body>

</html>