<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>КНАМ Недвижимость</title>
  <link type="text/css" rel="stylesheet" href="./fonts/Oswald/stylesheet.css" />
  <link type="text/css" rel="stylesheet" href="./css/style.css" />
  <style>
    .loader-sreen {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      z-index: 10000;
    }
    @keyframes loaded-1 {
      0%   {fill:#fbc84d;}
      25%  {fill:#000;}
      50%  {fill:#000;}
      75%  {fill:#000;}      
      100%  {fill:#fbc84d;}      
    }
    @keyframes loaded-2 {
      0%   {fill:#000;}
      25%  {fill:#4188f9;}
      50%  {fill:#000;}
      75%  {fill:#000;}      
      100%  {fill:#000;}
    }
    @keyframes loaded-3 {
      0%   {fill:#000;}
      25%  {fill:#000;}
      50%  {fill:#60c54f;}
      75%  {fill:#000;}      
      100%  {fill:#000;}
    }
    @keyframes loaded-4 {
      0%   {fill:#000;}
      25%  {fill:#000;}
      50%  {fill:#000;}
      75%  {fill:#eb6142;}      
      100%  {fill:#000;}      
    }
    .icon-load {
      width: 60px;
      height: 60px;
      position: fixed;
      left: 50%;
      top: 50%;
      margin-top: -30px;
      margin-left: -30px;     
    }
    .st1{
      animation: loaded-4 5s infinite;
    }
    .st2{
      animation: loaded-3 5s infinite;
    }
    .st3{
      animation: loaded-2 5s infinite;
    }
    .st4{
      animation: loaded-1 5s infinite;
    }
    
  </style>
</head>

<body class="registration">
  <div id="app">
    <div class="loader-sreen" v-if="loading">
      <svg x="0px" y="0px" viewBox="0 0 43.1 44.3" class="icon-load">
        <path class="st1" d="M8.1,20.7l8.1-7.2V0L0.5,14L8.1,20.7z"/>
        <path class="st2" d="M0,16.3v13.5l16.2,14.5V30.8L0,16.3z"/>
        <path class="st3" d="M35,23.6l-8.1,7.2v13.5l15.7-14L35,23.6z"/>
        <path class="st4" d="M26.9,13.5L43.1,28V14.5L26.9,0V13.5z"/>
      </svg>
    </div>
    <b-navbar toggleable="lg" type="dark" variant="dark"
      class="header-transparent" v-click-outside="closeNav">
      <b-navbar-brand href="MAIN-PAGE.html" class="logo">
        <img src="./img/logo-black.svg" alt="" class="logo_img" />
      </b-navbar-brand>
      <b-navbar-toggle target="nav-collapse" @click="closeNav">
      </b-navbar-toggle>
      <b-collapse id="nav-collapse" is-nav v-model="showNav">
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-text class="mr-4">
            <a href="#" class="header-link underlined">Система
              вознаграждений</a>
          </b-nav-text>
          <b-nav-text class="mr-4">
            <a href="#" class="header-link underlined">Как работать с
              площадкой</a>
          </b-nav-text>
          <b-nav-text class="langs">
            <a href="#">EN</a>
            <span> | </span>
            <a class="active">RU</a>
          </b-nav-text>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <b-container fluid class="section-registration"  :class="{ios: isMac}">
      <b-container>
        <h1 class="text-center registration-title" :class="{validstep: validStepTwo}">Регистрация
          <a href="#"
          :class="{active: stepOne}"
          @click="goStepOne">1</a>
          <a href="#"
          :class="{active: stepSecond}"
          @click="submitHandlerStepOne">2</a>
          <a href="#"
          :class="{active: !stepOne && !stepSecond}"
          @click="submitHandlerStepTwo">3</a></h1>
        <p class="text-center registration-subtitle mb-lg-2">Уже есть аккаунт? <a href="LOGIN.html">Вход</a></p>
        <form class="mt-4 registration-form" v-if="stepOne" @submit.prevent="submitHandlerStepOne">
          <b-row class="mb-4">
            <b-col cols="12">
              <div class="input-border input-border_select skew">
                <b-form-select v-model="selected">
                    <option :value="null">Форма сотрудничества</option>
                    <option value="a">Форма сотрудничества1</option>
                    <option value="a">Форма сотрудничества2</option>
                    <option value="a">Форма сотрудничества3</option>
                    <option value="a">Форма сотрудничества4</option>
                    <option value="a">Форма сотрудничества5</option>
                  </b-form-select>
              </div>
            </b-col>
          </b-row>
          <b-row class="mb-4">
            <b-col cols="12">
              <div class="input-border skew">
                <input
                  type="text"
                  placeholder="Имя"
                  v-model.trim="firstName"
                  :class="{invalid: $v.firstName.$dirty && !$v.firstName.required}"
                  >
              </div>
              <small
                v-if="$v.firstName.$dirty && !$v.firstName.required"
                class="helper-text invalid"
              >Поле не может быть пустым</small>
            </b-col>
          </b-row>
          <b-row class="mb-5">
            <b-col cols="12">
              <div class="input-border skew">
                <input
                  type="text"
                  placeholder="Фамилия"
                  v-model.trim="lastName"
                  :class="{invalid: $v.lastName.$dirty && !$v.lastName.required}"
                  >
              </div>
              <small
                v-if="$v.lastName.$dirty && !$v.lastName.required"
                class="helper-text invalid"
              >Поле не может быть пустым</small>
            </b-col>
          </b-row>
          <b-row>
            <b-col cols="6">
              <button class="input-border input-border_btn skew" type="submit">
                <span>Вперед</span>
              </button>
            </b-col>
            <b-col cols="6">
              <button class="input-border input-border_close skew"><span>Отмена</span></button>
            </b-col>
          </b-row>
        </form>
        <form class="mt-4 registration-form" v-else-if="stepSecond"  @submit.prevent="submitHandlerStepTwo">          
          <b-row class="mb-4">
            <b-col cols="12">
              <div class="input-border skew">
                <input
                type="text"
                placeholder="Email"
                v-model.trim="email"
                :class="{invalid: ($v.email.$dirty && !$v.email.required) || ($v.email.$dirty && !$v.email.email)}"
                >
              </div>
              <small
                class="helper-text invalid"
                v-if="$v.email.$dirty && !$v.email.required"
              >Поле не может быть пустым</small>
              <small
                class="helper-text invalid"
                v-else-if="$v.email.$dirty && !$v.email.email"
              >Введите коректный Email</small>
            </b-col>
          </b-row>
          <b-row class="mb-4">
            <b-col cols="12">
              <div class="input-border skew">
                <input
                  type="password"
                  placeholder="Пароль"
                  v-model.trim="password"
                  :class="{invalid: $v.password.$dirty && !$v.password.required}"
                >
              </div>
              <small
                v-if="$v.password.$dirty && !$v.password.required"
                class="helper-text invalid"
              >Поле не может быть пустым</small>
            </b-col>
          </b-row>
          <b-row class="mb-5">
            <b-col cols="12">
              <div class="input-border skew">
                <input
                  type="password"
                  placeholder="Подтвердите пароль"
                  v-model.trim="repeatPassword"
                  :class="{invalid: ($v.repeatPassword.$dirty && !$v.repeatPassword.required) || ($v.repeatPassword.$dirty && !$v.repeatPassword.sameAsPassword)}"
                >
              </div>
              <small
                v-if="$v.password.$dirty && !$v.repeatPassword.sameAsPassword"
                class="helper-text invalid"
              >Пароли не совпадают</small>
              <small
                v-else-if="$v.password.$dirty && !$v.repeatPassword.required"
                class="helper-text invalid"
              >Поле не может быть пустым</small>
            </b-col>
          </b-row>        
          <b-row>
            <b-col cols="6">
              <button class="input-border input-border_btn skew" type="submit">
                <span>Подтвердить</span>
              </button>
            </b-col>
            <b-col cols="6">
              <button class="input-border input-border_close skew"  @click.prevent="goStepOne"><span>Назад</span></button>
            </b-col>
          </b-row>
        </form>
        <form class="mt-4 registration-form" v-else>
          <b-row class="mb-3">
            <b-col cols="7">
              <div class="input-border input-border_phone skew">
               <vue-tel-input
                  v-model="phone"
                  placeholder="Телефон"
                  :class="{invalid: $v.phone.$dirty && !$v.phone.required}"
                ></vue-tel-input>
              </div>
              <small
                v-if="$v.phone.$dirty && !$v.phone.required"
                class="helper-text invalid"
              >Поле не может быть пустым</small>
            </b-col>
            <b-col cols="5">
              <div class="input-border skew">
                <input
                  type="text"
                  placeholder="SMS код"
                  v-model.trim="code"
                  :class="{invalid: $v.code.$dirty && !$v.code.required}"
                >                
              </div>
              <small
                v-if="$v.code.$dirty && !$v.code.required"
                class="helper-text invalid"
              >Поле не может быть пустым</small>
            </b-col>
          </b-row> 
          <b-row class="mb-4">
            <b-col cols="12">   
              <div class="progress-row mb-2">          
                <b-progress height="12px" :min="minProgress" :max="maxProgress" show-progress :value="valueProgress"></b-progress>
                <span class="timer-value">{{ valueProgress }} c</span>
              </div>
            </b-col>
          </b-row> 
          <b-row class="mb-3">
            <b-col cols="12">
              <a href="#" v-if="resend" class="grey-link"  :class="{disabled: disabled}" @click.prevent="resendTimer">Отправить повторно</a>
            </b-col> 
          </b-row>       
          <b-row>
            <b-col cols="7">              
              <button
                v-if="!resend"
                class="input-border input-border_btn skew"
                @click.prevent="startTimer"
              >
                <span>Отправить</span>
              </button>
              <button
                v-else
                class="input-border input-border_btn skew"
                @click.prevent="submitRegistration"
              >
                <span >Зарегистрироваться</span>
              </button>
            </b-col>
            <b-col cols="5">
              <button class="input-border input-border_close skew"  @click.prevent="goStepSecond"><span>Назад</span></button>
            </b-col>
          </b-row>
        </form>
      </b-container>
    </b-container>
  </div>
  <script src="./dist/bundle.js"></script>
</body>

</html>