<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>КНАМ Недвижимость</title>
  <link type="text/css" rel="stylesheet" href="./css/style.css" />
  <link type="text/css" rel="stylesheet" href="./fonts/Oswald/stylesheet.css" />
  <style>
    .loader-sreen {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      z-index: 10000;
    }
    @keyframes loaded-1 {
      0%   {fill:#fbc84d;}
      25%  {fill:#000;}
      50%  {fill:#000;}
      75%  {fill:#000;}      
      100%  {fill:#fbc84d;}      
    }
    @keyframes loaded-2 {
      0%   {fill:#000;}
      25%  {fill:#4188f9;}
      50%  {fill:#000;}
      75%  {fill:#000;}      
      100%  {fill:#000;}
    }
    @keyframes loaded-3 {
      0%   {fill:#000;}
      25%  {fill:#000;}
      50%  {fill:#60c54f;}
      75%  {fill:#000;}      
      100%  {fill:#000;}
    }
    @keyframes loaded-4 {
      0%   {fill:#000;}
      25%  {fill:#000;}
      50%  {fill:#000;}
      75%  {fill:#eb6142;}      
      100%  {fill:#000;}      
    }
    .icon-load {
      width: 60px;
      height: 60px;
      position: fixed;
      left: 50%;
      top: 50%;
      margin-top: -30px;
      margin-left: -30px;     
    }
    .st1{
      animation: loaded-4 5s infinite;
    }
    .st2{
      animation: loaded-3 5s infinite;
    }
    .st3{
      animation: loaded-2 5s infinite;
    }
    .st4{
      animation: loaded-1 5s infinite;
    }
    
  </style>

</head>

<body>
  <div id="app">
    <div class="loader-sreen" v-if="loading">
      <svg x="0px" y="0px" viewBox="0 0 43.1 44.3" class="icon-load">
        <path class="st1" d="M8.1,20.7l8.1-7.2V0L0.5,14L8.1,20.7z"/>
        <path class="st2" d="M0,16.3v13.5l16.2,14.5V30.8L0,16.3z"/>
        <path class="st3" d="M35,23.6l-8.1,7.2v13.5l15.7-14L35,23.6z"/>
        <path class="st4" d="M26.9,13.5L43.1,28V14.5L26.9,0V13.5z"/>
      </svg>
    </div>
    <b-navbar toggleable="lg" type="dark" variant="dark" class="main-header"
      v-click-outside="closeNav">
      <div class="main-header-bg"></div>
      <b-navbar-brand href="MAIN-PAGE.html" class="logo">
        <img src="./img/main/logo.svg" alt="" class="logo_img" />
      </b-navbar-brand>
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
      <b-collapse id="nav-collapse" is-nav v-model="showNav">
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-text>
            <a href="#" class="header-link underlined">Как работать с
              площадкой</a>
          </b-nav-text>
          <b-nav-item-dropdown :text="location.name" right class="lang-item">
            <b-dropdown-item href="#" v-for="loc in locations" :key="loc.code">
              {{ loc.name }}</b-dropdown-item>
          </b-nav-item-dropdown>
          <b-nav-text class="langs">
            <a href="#">EN</a>
            <span> | </span>
            <a class="active">RU</a>
          </b-nav-text>
          <b-nav-item href="LOGIN.html" class="lock-icon lock-icon_open">
            <img src="./img/icons/lock-open-big.svg" alt="" />
          </b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <b-container fluid class="filter filter-vidy">
      <b-container>
        <div @click.stop="detailFilter=false" class="filter-bg-vidy"></div>
        <!-- filter -->
        <b-row class="justify-content-md-center filter-wrap"
          :class="{mobileFilter:useMobileFilter&&detailFilter}">
          <b-col cols="12" md="12">
            <div v-click-outside="closeDetailFilter">
              <b-row class="justify-content-md-left no-gutters">
                <b-col cols="12" md="auto" class="media-body filter-tag-left"
                  v-if="searchType===searchTypes.SEARCH_BY_TAG">
                  <div class="skew bg-white input-with-icon"
                    @click="focusInput">
                    <button class="bbtn bbtn-search">
                      <img src="img/icons/search.svg" alt="" />
                    </button>
                    <ul ref="search_tags" class="grey search-tags">
                      <li class="skew"
                        v-for="(tag,i) in searchActiveResultsByTag"
                        :key="'s-tag'+i" @click="removeVariantFromTagSearch(i)">
                        <span>{{tag}}</span>
                      </li>
                      <li class="search-tags-input">
                        <input v-model="searchText"
                          @keydown.delete="deleteFilterResults"
                          @keydown.enter="addToSearch(searchText)"
                          :placeholder="!searchActiveResultsByTag.length ? 'Начните вводить теги' : 'добавьте еще тегов'"
                          type="text" ref="search_input" />
                      </li>
                    </ul>
                    <input v-model="searchText"
                      @keydown.delete="deleteFilterResults"
                      @keydown.enter="addToSearch(searchText)"
                      :placeholder="!searchActiveResultsByTag.length ? 'Начните вводить теги' : 'добавьте еще тегов'"
                      type="text" ref="search_input"
                      class="mobile-search-input" />
                    <template v-if="useMobileFilter&&detailFilter">
                      <button class="bbtn bbtn-details"
                        @click="showMainFilter(searchTypes.SEARCH_BY_FILTER)">
                        <img
                          src="https://www.avito.st/mstatic/build/6dd38f797f2297b9ec2a8af0bcf6cee7.svg"
                          alt="" />
                      </button>
                      <button class="bbtn bbtn-close"
                        @click.stop="detailFilter=false">
                        <img
                          src="https://www.avito.st/mstatic/build/b9f88d28d55a16070079bbe097adff6a.svg"
                          alt="" />
                      </button>
                    </template>
                  </div>
                </b-col>
                <b-col cols="12" md="auto"
                  v-if="searchType===searchTypes.SEARCH_BY_FILTER"
                  class="filter-left">
                  <b-row align-v="center" v-if="useMobileFilter"
                    class="nav-mobile-top">
                    <b-col cols="2" class="text-center">
                      <div class="back-bbtn" @click="mobileCloseFromFilter">
                        <img
                          src="https://www.avito.st/mstatic/build/7d10231595fa386f534c52c7b6c65372.svg"
                          alt="close" />
                      </div>
                    </b-col>
                    <b-col cols="9"><span class="blue text-center">Фильтр</span>
                    </b-col>
                    <button class="bbtn-tags"
                      @click="showMainFilter(searchTypes.SEARCH_BY_TAG)">
                      <img
                        src="https://www.avito.st/mstatic/build/6dd38f797f2297b9ec2a8af0bcf6cee7.svg"
                        alt="" />
                    </button>
                  </b-row>

                  <ul class="skew main-filter">
                    <li @click="detailFilter=true" class="main-filter__two-col">
                      <span
                        @click="setFilterParam('area')">{{areasSelectedFirst}}
                        <span v-if="areasSelected.length > 1"
                          class="count-label">{{areasSelected.length}}</span></span>
                    </li>
                    <li @click="detailFilter=true" class="main-filter__two-col">
                      <span @click="setFilterParam('category')">Категория</span>
                    </li>
                    <li @click="detailFilter=true"><span
                        @click="setFilterParam('size')">1.2 комн.</span></li>
                    <li class="main-filter__two-col">
                      <span>от
                        <input class="clean-input" placeholder="0" type="number"
                          v-model.number="fromPrice" pattern="\d*"
                          onKeyPress="if(this.value.length==4) return false;" />
                        млн/&#8381;</span>
                    </li>
                    <li class="main-filter__two-col">
                      <span>до
                        <input class="clean-input" type="number"
                          v-model.number="upToPrice" placeholder="2500"
                          pattern="\d*"
                          onKeyPress="if(this.value.length==4) return false;" />
                        млн/&#8381;</span>
                    </li>
                    <li @click="setFilterParam('address')">
                      <div class="bg-white input-address-tags"
                        @click="focusAddressInput">
                        <ul class="grey search-address-tags "
                          :class="{'hidden-tags':addressOverflow}"
                          :title="searchActiveResultsByAddress.join(',')">
                          <li class="skew"
                            v-for="(addressTag,i) in searchActiveResultsByAddress"
                            :key="'s-addressTag'+i"
                            @click="removeVariantFromAddressSearch(i)">
                            <span>{{addressTag}}</span>
                          </li>
                        </ul>
                        <input v-model="searchTextAddress"
                          @keydown.delete="deleteFilterResultsAddress"
                          @keydown.enter="addToAddressFilter(searchTextAddress)"
                          :placeholder="!searchActiveResultsByAddress.length ? 'Метро,район,ЖК,адрес' : 'добавьте еще'"
                          type="text" ref="search_address_input" />
                        <!-- <input
                            v-model="searchTextAddress"
                            @keydown.delete="deleteFilterResultsAddress"
                            @keydown.enter="addToAddressFilter(searchText)"
                            :placeholder="!searchActiveResultsByAddress.length ? 'Начните вводить теги' : 'добавьте еще тегов'"
                            type="text"
                            ref="search_address_input"
                            class="mobile-search-input"
                          /> -->
                      </div>
                      <!-- <span>Город, адрес, метро, район, ЖК<br />Москва</span> -->
                    </li>
                  </ul>
                </b-col>

                <b-col cols="12" md="auto">
                  <a href="LOGIN.html" class="bbtn blue skew main-search-button"><span>{{searchButtonTitle}}</span></a>
                </b-col>
              </b-row>
              <b-row class="no-gutters justify-content-md-left"
                v-show="detailFilter">
                <div class="detail-filter mt-2 p-3">
                  <template v-if="searchType===searchTypes.SEARCH_BY_FILTER">
                    <template v-if="currentFilterParam==='area'">
                      <b-row>
                        <b-col cols="12" md="2"
                          :class="!useMobileFilter?'text-right':''">Жилая
                        </b-col>
                        <b-col cols="12" md="10">
                          <ul class="grey-border search-by-filter">
                            <li class="skew" :class="{active:item.active}"
                              @click="item.active=!item.active"
                              v-for="(item,i) in areas.live" :key="'live-'+i">
                              <span>{{item.name}}</span>
                            </li>
                          </ul>
                        </b-col>
                      </b-row>
                      <b-row class="mt-3">
                        <b-col cols="12" md="2"
                          :class="!useMobileFilter?'text-right':''">Коммерческая
                        </b-col>
                        <b-col cols="12" md="10">
                          <ul class="grey search-by-filter">
                            <li class="skew" :class="{active:item.active}"
                              @click="item.active=!item.active"
                              v-for="(item,i) in areas.commercial"
                              :key="'live-'+i">
                              <span>{{item.name}}</span>
                            </li>
                          </ul>
                        </b-col>
                      </b-row>
                    </template>
                    <template v-if="currentFilterParam==='area'"></template>
                    <template v-if="currentFilterParam==='category'">
                      содержание фильтра category
                    </template>
                    <template v-if="currentFilterParam==='size'">
                      содержание фильтра size
                    </template>
                    <template v-if="currentFilterParam==='address'">
                      содержание фильтра address
                    </template>
                  </template>
                  <template v-if="searchType===searchTypes.SEARCH_BY_TAG">
                    <b-row>
                      <ul class="search-by-tag-results">
                        <li class="empty-search-by-tag"
                          v-if="!searchResultsByTag.length">
                          Нет данных, введите другой запрос
                        </li>
                        <li v-for="(res,i) in searchResultsByTag" :key="'res'+i"
                          @click="addToSearch(res)">
                          {{res}}
                        </li>
                      </ul>
                    </b-row>
                  </template>
                  <b-row v-if="!useMobileFilter"
                    class="pt-5 justify-content-md-center">
                    <b-col cols="6" sm="6" lg="3" class="text-center">
                      <a href="CARD.html" class="search-option">Поиск по карте</a>
                    </b-col>
                    <b-col cols="6" sm="6" lg="3" class="text-center"
                      v-if="searchType===searchTypes.SEARCH_BY_FILTER">
                      <a class="search-option"
                        @click="showMainFilter(searchTypes.SEARCH_BY_TAG)">Поиск
                        по тегам</a>
                    </b-col>
                    <b-col cols="6" sm="6" lg="3" class="text-center"
                      v-if="searchType===searchTypes.SEARCH_BY_TAG">
                      <a class="search-option"
                        @click="showMainFilter(searchTypes.SEARCH_BY_FILTER)">Поиск
                        по
                        фильтру</a>
                    </b-col>
                  </b-row>
                </div>
              </b-row>
            </div>
            <b-row class="pt-4 justify-content-md-center"
              v-show="!detailFilter">
              <b-col cols="6" sm="6" lg="2" class="text-center">
                <a href="CARD.html" class="search-option">Поиск по карте</a>
              </b-col>
              <b-col cols="6" sm="6" lg="3" class="text-center"
                v-if="searchType===searchTypes.SEARCH_BY_FILTER">
                <a class="search-option"
                  @click="showMainFilter(searchTypes.SEARCH_BY_TAG)">Поиск по
                  тегам</a>
              </b-col>
              <b-col cols="6" sm="6" lg="3" class="text-center"
                v-if="searchType===searchTypes.SEARCH_BY_TAG">
                <a class="search-option"
                  @click="showMainFilter(searchTypes.SEARCH_BY_FILTER)">Поиск по
                  фильтру</a>
              </b-col>
            </b-row>
          </b-col>
        </b-row>
      </b-container>
    </b-container>
    <div class="tabs tabs-with-icons">
      <b-container>
        <b-row class="align-items-center">
          <b-col cols="auto" class="mr-auto">
            <ul>
              <li class="skew active">
                <a href="VIEW-1.html"></a>
                <span>Общий вид</span>
              </li>
              <li class="skew">
                <a href="VIEW-2.html"></a>
                <span>Сводный вид</span>
              </li>
              <li class="skew">
                <a href="VIEW-3.html"></a>
                <span>Табличный вид</span>
              </li>
              <li class="skew">
                <a href="VIEW-4.html"></a>
                <span>Каталог планировок</span>
              </li>
            </ul>
          </b-col>
          <b-col cols="auto">
            <ul class="list-icons">
              <li>
                <a href="#"><span id="pdf-save"><img src="img/icons/pdf.svg" alt=""></span></a>
                <b-tooltip target="pdf-save" placement="rightbottom" custom-class="tooltip-skew">
                  <span class="skew"><span>Сохранить в PDF</span></span>
                </b-tooltip>
              </li>
              <li>
                <a href="#"><span  id="message-save"><img src="img/icons/message.svg" alt=""></span></a>
                <b-tooltip target="message-save" placement="rightbottom" custom-class="tooltip-skew">
                  <span class="skew"><span>Отправить письмом</span></span>
                </b-tooltip>
              </li>
            </ul>
          </b-col>
        </b-row>
      </b-container>
    </div>
    <div class="content-wrapper  mt-0" v-for="view in views" :key="view.code">
      <b-container v-if="view.isActive&&view.code==='general'"> {{ view.name }}
      </b-container>
      <b-container v-if="view.isActive&&view.code==='common'">
        <b-table-simple responsive="xl" small class="offers-table">
          <b-thead>
            <b-tr>
              <b-th>Район</b-th>
              <b-th><span class="sort-item">Комплекс</span> </b-th>
              <b-th>Срок сдачи</b-th>
              <b-th>Этажей</b-th>
              <b-th>Адрес</b-th>
              <b-th>Метро</b-th>
              <b-th><span class="sort-item">Объект</span></b-th>
              <b-th>Кол-во</b-th>
              <b-th>S от</b-th>
              <b-th>S до</b-th>
              <b-th>Стоимость</b-th>
              <b-th>Обновлено</b-th>
              <b-th>Продавец</b-th>
            </b-tr>
          </b-thead>
          <b-tbody>
            <b-tr>
              <b-th rowspan="8" class="border-top">Орехово-Борисово<br> Южное
                р-н</b-th>
              <b-th rowspan="3"><a href="OBJECT.html" >Ясный 1 оч.<br> корп. 3<br> (Южный)</a></b-th>
              <b-td rowspan="3">Дом сдан</b-td>
              <b-td rowspan="3">21</b-td>
              <b-td rowspan="3">Каширское шоссе, д. 23, корп. 4 </b-td>
              <b-td class="not-border"><span
                  class="station green">Тверская</span></b-td>
              <b-td>Кладовки и машиноместа</b-td>
              <b-td>34</b-td>
              <b-td>56.4</b-td>
              <b-td>87.4</b-td>
              <b-td><span class="table-price">34 586 697</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html"  id="company-1" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-1" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-td rowspan="2"><span class="station blue">Чеховская</span>
              </b-td>
              <b-td>Апартоменты</b-td>
              <b-td>3</b-td>
              <b-td>56.5</b-td>
              <b-td>56.3</b-td>
              <b-td><span class="table-price">74 586 656</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html"  id="company-2" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-2" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-td>Коммерция</b-td>
              <b-td>19</b-td>
              <b-td>65.1</b-td>
              <b-td>45.7</b-td>
              <b-td><span class="table-price">67 586 456</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html" id="company-3" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-3" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-th rowspan="2"><a href="OBJECT.html" >Ясный 1 оч.<br> корп. 3<br> (Южный)</a></b-th>
              <b-td rowspan="2">Дом сдан</b-td>
              <b-td rowspan="2">12-20</b-td>
              <b-td rowspan="2">Каширское шоссе, д. 23, корп. 4 </b-td>
              <b-td rowspan="2">
                <span class="station" id="station-1">Воробьевы гор</span>
                <b-tooltip target="station-1" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Воробьевы горы</span></span>
                </b-tooltip>
              </b-td>
              <b-td>Квартиры</b-td>
              <b-td>34</b-td>
              <b-td>56.4</b-td>
              <b-td>87.4</b-td>
              <b-td><span class="table-price">34 586 697</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html" id="company-4" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-4" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-td>Апартоменты</b-td>
              <b-td>34</b-td>
              <b-td>56.4</b-td>
              <b-td>87.4</b-td>
              <b-td><span class="table-price">34 586 697</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html" id="company-5" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-5" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-th rowspan="3"><a href="OBJECT.html" >Ясный 1 оч.<br> корп. 3<br> (Южный)</a></b-th>
              <b-td rowspan="3">Дом сдан</b-td>
              <b-td rowspan="3">21</b-td>
              <b-td rowspan="3">Каширское шоссе, д. 23, корп. 4 </b-td>
              <b-td rowspan="3"><span class="station blue">Чеховская</span>
              </b-td>
              <b-td>Кладовки и машиноместа</b-td>
              <b-td>34</b-td>
              <b-td>56.4</b-td>
              <b-td>87.4</b-td>
              <b-td><span class="table-price">34 586 697</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html" id="company-6" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-6" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-td>Кладовки и машиноместа</b-td>
              <b-td>34</b-td>
              <b-td>56.4</b-td>
              <b-td>87.4</b-td>
              <b-td><span class="table-price">34 586 697</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html" id="company-7" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-7" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-td>Кладовки и машиноместа</b-td>
              <b-td>34</b-td>
              <b-td>56.4</b-td>
              <b-td>87.4</b-td>
              <b-td><span class="table-price">34 586 697</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html" id="company-8" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-8" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-th rowspan="8" class="border-top">Орехово-Борисово<br> Южное
                р-н</b-th>
              <b-th rowspan="3"><a href="OBJECT.html" >Ясный 1 оч.<br> корп. 3<br> (Южный)</a></b-th>
              <b-td rowspan="3">Дом сдан</b-td>
              <b-td rowspan="3">21</b-td>
              <b-td rowspan="3">Каширское шоссе, д. 23, корп. 4 </b-td>
              <b-td class="not-border"><span
                  class="station green">Тверская</span></b-td>
              <b-td>Кладовки и машиноместа</b-td>
              <b-td>34</b-td>
              <b-td>56.4</b-td>
              <b-td>87.4</b-td>
              <b-td><span class="table-price">34 586 697</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html" id="company-9" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-9" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-td rowspan="2"><span class="station green">Чеховская</span>
              </b-td>
              <b-td>Кладовки и машиноместа</b-td>
              <b-td>34</b-td>
              <b-td>56.4</b-td>
              <b-td>87.4</b-td>
              <b-td><span class="table-price">34 586 697</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html" id="company-10" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-10" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-td>Кладовки и машиноместа</b-td>
              <b-td>34</b-td>
              <b-td>56.4</b-td>
              <b-td>87.4</b-td>
              <b-td><span class="table-price">34 586 697</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html" id="company-11" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-11" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-th rowspan="2"><a href="OBJECT.html" >Ясный 1 оч.<br> корп. 3<br> (Южный)</a></b-th>
              <b-td rowspan="2">Дом сдан</b-td>
              <b-td rowspan="2">21</b-td>
              <b-td rowspan="2">Каширское шоссе, д. 23, корп. 4 </b-td>
              <b-td rowspan="2">
                <span class="station" id="station-2">Воробьевы гор</span>
                <b-tooltip target="station-2" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Воробьевы горы</span></span>
                </b-tooltip>
              </b-td>
              <b-td>Кладовки и машиноместа</b-td>
              <b-td>34</b-td>
              <b-td>56.4</b-td>
              <b-td>87.4</b-td>
              <b-td><span class="table-price">34 586 697</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html" id="company-12" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-12" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-td>Кладовки и машиноместа</b-td>
              <b-td>34</b-td>
              <b-td>56.4</b-td>
              <b-td>87.4</b-td>
              <b-td><span class="table-price">34 586 697</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html" id="company-13" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-13" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-th rowspan="3"><a href="OBJECT.html" >Ясный 1 оч.<br> корп. 3<br> (Южный)</a></b-th>
              <b-td rowspan="3">Дом сдан</b-td>
              <b-td rowspan="3">21</b-td>
              <b-td rowspan="3">Каширское шоссе, д. 23, корп. 4 </b-td>
              <b-td rowspan="3"><span class="station blue">Чеховская</span>
              </b-td>
              <b-td>Кладовки и машиноместа</b-td>
              <b-td>34</b-td>
              <b-td>56.4</b-td>
              <b-td>87.4</b-td>
              <b-td><span class="table-price">34 586 697</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html" id="company-15" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-15" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-td>Кладовки и машиноместа</b-td>
              <b-td>34</b-td>
              <b-td>56.4</b-td>
              <b-td>87.4</b-td>
              <b-td><span class="table-price">34 586 697</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html" id="company-16" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-16" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-td>Кладовки и машиноместа</b-td>
              <b-td>34</b-td>
              <b-td>56.4</b-td>
              <b-td>87.4</b-td>
              <b-td><span class="table-price">34 586 697</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html" id="company-17" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-17" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-th rowspan="8" class="border-top">Орехово-Борисово<br> Южное
                р-н</b-th>
              <b-th rowspan="3"><a href="OBJECT.html" >Ясный 1 оч.<br> корп. 3<br> (Южный)</a></b-th>
              <b-td rowspan="3">Дом сдан</b-td>
              <b-td rowspan="3">21</b-td>
              <b-td rowspan="3">Каширское шоссе, д. 23, корп. 4 </b-td>
              <b-td class="not-border"><span
                  class="station green">Тверская</span></b-td>
              <b-td>Кладовки и машиноместа</b-td>
              <b-td>34</b-td>
              <b-td>56.4</b-td>
              <b-td>87.4</b-td>
              <b-td><span class="table-price">34 586 697</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html" id="company-18" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-18" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-td rowspan="2"><span class="station green">Чеховская</span>
              </b-td>
              <b-td>Кладовки и машиноместа</b-td>
              <b-td>34</b-td>
              <b-td>56.4</b-td>
              <b-td>87.4</b-td>
              <b-td><span class="table-price">34 586 697</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html" id="company-19" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-19" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-td>Кладовки и машиноместа</b-td>
              <b-td>34</b-td>
              <b-td>56.4</b-td>
              <b-td>87.4</b-td>
              <b-td><span class="table-price">34 586 697</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html" id="company-20" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-20" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-th rowspan="2"><a href="OBJECT.html" >Ясный 1 оч.<br> корп. 3<br> (Южный)</a></b-th>
              <b-td rowspan="2">Дом сдан</b-td>
              <b-td rowspan="2">21</b-td>
              <b-td rowspan="2">Каширское шоссе, д. 23, корп. 4 </b-td>
              <b-td rowspan="2">
                  <span class="station" id="station-3">Воробьевы гор</span>
                  <b-tooltip target="station-3" placement="right"
                    custom-class="tooltip-skew">
                    <span class="skew"><span>Воробьевы горы</span></span>
                  </b-tooltip>
              </b-td>
              <b-td>Кладовки и машиноместа</b-td>
              <b-td>34</b-td>
              <b-td>56.4</b-td>
              <b-td>87.4</b-td>
              <b-td><span class="table-price">34 586 697</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html" id="company-21" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-21" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-td>Кладовки и машиноместа</b-td>
              <b-td>34</b-td>
              <b-td>56.4</b-td>
              <b-td>87.4</b-td>
              <b-td><span class="table-price">34 586 697</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html" id="company-22" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-22" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-th rowspan="3"><a href="OBJECT.html" >Ясный 1 оч.<br> корп. 3<br> (Южный)</a></b-th>
              <b-td rowspan="3">Дом сдан</b-td>
              <b-td rowspan="3">21</b-td>
              <b-td rowspan="3">Каширское шоссе, д. 23, корп. 4 </b-td>
              <b-td rowspan="3"><span class="station blue">Чеховская</span>
              </b-td>
              <b-td>Кладовки и машиноместа</b-td>
              <b-td>34</b-td>
              <b-td>56.4</b-td>
              <b-td>87.4</b-td>
              <b-td><span class="table-price">34 586 697</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html" id="company-23" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-23" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-td>Кладовки и машиноместа</b-td>
              <b-td>34</b-td>
              <b-td>56.4</b-td>
              <b-td>87.4</b-td>
              <b-td><span class="table-price">34 586 697</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html" id="company-24" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-24" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-td>Кладовки и машиноместа</b-td>
              <b-td>34</b-td>
              <b-td>56.4</b-td>
              <b-td>87.4</b-td>
              <b-td><span class="table-price">34 586 697</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html" id="company-25" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-25" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-th rowspan="8" class="border-top">Орехово-Борисово<br> Южное
                р-н</b-th>
              <b-th rowspan="3"><a href="OBJECT.html" >Ясный 1 оч.<br> корп. 3<br> (Южный)</a></b-th>
              <b-td rowspan="3">Дом сдан</b-td>
              <b-td rowspan="3">21</b-td>
              <b-td rowspan="3">Каширское шоссе, д. 23, корп. 4 </b-td>
              <b-td class="not-border"><span
                  class="station green">Тверская</span></b-td>
              <b-td>Кладовки и машиноместа</b-td>
              <b-td>34</b-td>
              <b-td>56.4</b-td>
              <b-td>87.4</b-td>
              <b-td><span class="table-price">34 586 697</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html" id="company-25" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-26" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-td rowspan="2"><span class="station green">Чеховская</span>
              </b-td>
              <b-td>Кладовки и машиноместа</b-td>
              <b-td>34</b-td>
              <b-td>56.4</b-td>
              <b-td>87.4</b-td>
              <b-td><span class="table-price">34 586 697</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html" id="company-27" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-27" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-td>Кладовки и машиноместа</b-td>
              <b-td>34</b-td>
              <b-td>56.4</b-td>
              <b-td>87.4</b-td>
              <b-td><span class="table-price">34 586 697</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html" id="company-28" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-28" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-th rowspan="2"><a href="OBJECT.html" >Ясный 1 оч.<br> корп. 3<br> (Южный)</a></b-th>
              <b-td rowspan="2">Дом сдан</b-td>
              <b-td rowspan="2">21</b-td>
              <b-td rowspan="2">Каширское шоссе, д. 23, корп. 4 </b-td>
              <b-td rowspan="2">
                  <span class="station" id="station-4">Воробьевы гор</span>
                  <b-tooltip target="station-4" placement="right"
                    custom-class="tooltip-skew">
                    <span class="skew"><span>Воробьевы горы</span></span>
                  </b-tooltip>
              </b-td>
              <b-td>Кладовки и машиноместа</b-td>
              <b-td>34</b-td>
              <b-td>56.4</b-td>
              <b-td>87.4</b-td>
              <b-td><span class="table-price">34 586 697</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html" id="company-29" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-29" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-td>Кладовки и машиноместа</b-td>
              <b-td>34</b-td>
              <b-td>56.4</b-td>
              <b-td>87.4</b-td>
              <b-td><span class="table-price">34 586 697</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html" id="company-30" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-30" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-th rowspan="3"><a href="OBJECT.html" >Ясный 1 оч.<br> корп. 3<br> (Южный)</a></b-th>
              <b-td rowspan="3">Дом сдан</b-td>
              <b-td rowspan="3">21</b-td>
              <b-td rowspan="3">Каширское шоссе, д. 23, корп. 4 </b-td>
              <b-td rowspan="3"><span class="station blue">Чеховская</span>
              </b-td>
              <b-td>Кладовки и машиноместа</b-td>
              <b-td>34</b-td>
              <b-td>56.4</b-td>
              <b-td>87.4</b-td>
              <b-td><span class="table-price">34 586 697</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html" id="company-31" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-31" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-td>Кладовки и машиноместа</b-td>
              <b-td>34</b-td>
              <b-td>56.4</b-td>
              <b-td>87.4</b-td>
              <b-td><span class="table-price">34 586 697</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html" id="company-32" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-32" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-td>Кладовки и машиноместа</b-td>
              <b-td>34</b-td>
              <b-td>56.4</b-td>
              <b-td>87.4</b-td>
              <b-td><span class="table-price">34 586 697</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html" id="company-33" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-33" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-th rowspan="8" class="border-top">Орехово-Борисово<br> Южное
                р-н</b-th>
              <b-th rowspan="3"><a href="OBJECT.html" >Ясный 1 оч.<br> корп. 3<br> (Южный)</a></b-th>
              <b-td rowspan="3">Дом сдан</b-td>
              <b-td rowspan="3">21</b-td>
              <b-td rowspan="3">Каширское шоссе, д. 23, корп. 4 </b-td>
              <b-td class="not-border"><span
                  class="station green">Тверская</span></b-td>
              <b-td>Кладовки и машиноместа</b-td>
              <b-td>34</b-td>
              <b-td>56.4</b-td>
              <b-td>87.4</b-td>
              <b-td><span class="table-price">34 586 697</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html" id="company-34" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-34" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-td rowspan="2"><span class="station green">Чеховская</span>
              </b-td>
              <b-td>Кладовки и машиноместа</b-td>
              <b-td>34</b-td>
              <b-td>56.4</b-td>
              <b-td>87.4</b-td>
              <b-td><span class="table-price">34 586 697</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html" id="company-35" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-35" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-td>Кладовки и машиноместа</b-td>
              <b-td>34</b-td>
              <b-td>56.4</b-td>
              <b-td>87.4</b-td>
              <b-td><span class="table-price">34 586 697</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html" id="company-36" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-36" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-th rowspan="2"><a href="OBJECT.html" >Ясный 1 оч.<br> корп. 3<br> (Южный)</a></b-th>
              <b-td rowspan="2">Дом сдан</b-td>
              <b-td rowspan="2">21</b-td>
              <b-td rowspan="2">Каширское шоссе, д. 23, корп. 4 </b-td>
              <b-td rowspan="2">
                <span class="station" id="station-5">Воробьевы гор</span>
                <b-tooltip target="station-5" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Воробьевы горы</span></span>
                </b-tooltip>
              </b-td>
              <b-td>Кладовки и машиноместа</b-td>
              <b-td>34</b-td>
              <b-td>56.4</b-td>
              <b-td>87.4</b-td>
              <b-td><span class="table-price">34 586 697</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html" id="company-37" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-37" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-td>Кладовки и машиноместа</b-td>
              <b-td>34</b-td>
              <b-td>56.4</b-td>
              <b-td>87.4</b-td>
              <b-td><span class="table-price">34 586 697</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html" id="company-38" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-38" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-th rowspan="3"><a href="OBJECT.html" >Ясный 1 оч.<br> корп. 3<br> (Южный)</a></b-th>
              <b-td rowspan="3">Дом сдан</b-td>
              <b-td rowspan="3">21</b-td>
              <b-td rowspan="3">Каширское шоссе, д. 23, корп. 4 </b-td>
              <b-td rowspan="3"><span class="station blue">Чеховская</span>
              </b-td>
              <b-td>Кладовки и машиноместа</b-td>
              <b-td>34</b-td>
              <b-td>56.4</b-td>
              <b-td>87.4</b-td>
              <b-td><span class="table-price">34 586 697</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html" id="company-39" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-39" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-td>Кладовки и машиноместа</b-td>
              <b-td>34</b-td>
              <b-td>56.4</b-td>
              <b-td>87.4</b-td>
              <b-td><span class="table-price">34 586 697</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html" id="company-40" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-41" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-td>Кладовки и машиноместа</b-td>
              <b-td>34</b-td>
              <b-td>56.4</b-td>
              <b-td>87.4</b-td>
              <b-td><span class="table-price">34 586 697</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html" id="company-41" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-41" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-th rowspan="8" class="border-top">Орехово-Борисово<br> Южное
                р-н</b-th>
              <b-th rowspan="3"><a href="OBJECT.html" >Ясный 1 оч.<br> корп. 3<br> (Южный)</a></b-th>
              <b-td rowspan="3">Дом сдан</b-td>
              <b-td rowspan="3">21</b-td>
              <b-td rowspan="3">Каширское шоссе, д. 23, корп. 4 </b-td>
              <b-td class="not-border"><span
                  class="station green">Тверская</span></b-td>
              <b-td>Кладовки и машиноместа</b-td>
              <b-td>34</b-td>
              <b-td>56.4</b-td>
              <b-td>87.4</b-td>
              <b-td><span class="table-price">34 586 697</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html" id="company-42" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-42" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-td rowspan="2"><span class="station green">Чеховская</span>
              </b-td>
              <b-td>Кладовки и машиноместа</b-td>
              <b-td>34</b-td>
              <b-td>56.4</b-td>
              <b-td>87.4</b-td>
              <b-td><span class="table-price">34 586 697</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html" id="company-43" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-43" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-td>Кладовки и машиноместа</b-td>
              <b-td>34</b-td>
              <b-td>56.4</b-td>
              <b-td>87.4</b-td>
              <b-td><span class="table-price">34 586 697</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html" id="company-44" class="table-name-company">Эталон инвест</a>>
                <b-tooltip target="company-44" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-th rowspan="2"><a href="OBJECT.html" >Ясный 1 оч.<br> корп. 3<br> (Южный)</a></b-th>
              <b-td rowspan="2">Дом сдан</b-td>
              <b-td rowspan="2">21</b-td>
              <b-td rowspan="2">Каширское шоссе, д. 23, корп. 4 </b-td>
              <b-td rowspan="2">
                <span class="station" id="station-6">Воробьевы гор</span>
                <b-tooltip target="station-6" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Воробьевы горы</span></span>
                </b-tooltip>
              </b-td>
              <b-td>Кладовки и машиноместа</b-td>
              <b-td>34</b-td>
              <b-td>56.4</b-td>
              <b-td>87.4</b-td>
              <b-td><span class="table-price">34 586 697</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html" id="company-3" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-4" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-td>Кладовки и машиноместа</b-td>
              <b-td>34</b-td>
              <b-td>56.4</b-td>
              <b-td>87.4</b-td>
              <b-td><span class="table-price">34 586 697</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html" id="company-3" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-5" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-th rowspan="3"><a href="OBJECT.html" >Ясный 1 оч.<br> корп. 3<br> (Южный)</a></b-th>
              <b-td rowspan="3">Дом сдан</b-td>
              <b-td rowspan="3">21</b-td>
              <b-td rowspan="3">Каширское шоссе, д. 23, корп. 4 </b-td>
              <b-td rowspan="3"><span class="station blue">Чеховская</span>
              </b-td>
              <b-td>Кладовки и машиноместа</b-td>
              <b-td>34</b-td>
              <b-td>56.4</b-td>
              <b-td>87.4</b-td>
              <b-td><span class="table-price">34 586 697</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html" id="company-3" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-6" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-td>Кладовки и машиноместа</b-td>
              <b-td>34</b-td>
              <b-td>56.4</b-td>
              <b-td>87.4</b-td>
              <b-td><span class="table-price">34 586 697</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html" id="company-3" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-7" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
            <b-tr>
              <b-td>Кладовки и машиноместа</b-td>
              <b-td>34</b-td>
              <b-td>56.4</b-td>
              <b-td>87.4</b-td>
              <b-td><span class="table-price">34 586 697</span></b-td>
              <b-td>14.10.2019</b-td>
              <b-td>
                <a href="DEVELOPER.html" id="company-3" class="table-name-company">Эталон инвест</a>
                <b-tooltip target="company-8" placement="right"
                  custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
            </b-tr>
          </b-tbody>
        </b-table-simple>
          <b-row class="align-items-center justify-content-center mt-4">
            <span class="pagination-text mr-4">{{ currentPage }} из
              {{ rows }}</span>
            <b-pagination v-model="currentPage" :total-rows="rows" size="sm">
            </b-pagination>
          </b-row>
        <!-- responsible-divider -->
      </b-container>
      <b-container v-if="view.isActive&&view.code==='catalog'">{{ view.name }}
      </b-container>
      <b-container v-if="view.isActive&&view.code==='table'">{{ view.name }}
      </b-container>
    </div>
    <div class="bottom-offers mt-5 mb-5">
      <b-container>
        <span class="h4 mb-3">Другие предложения</span>
        <div class="offers-slider">
          <slick ref="slick" :options="slickOptions">
            <div v-for="(offer,i) in offers.concat(offers)" :key="'offer-'+i"
              style="width:150px">
              <div class="bottom-offer mb-3">
                <div class="offer-header"
                  :style="{'background-image': 'url('+offer.img+')'}"></div>
                <div class="p-3">
                  <span class="h3 blue-1"><a
                      href="OBJECT.html">{{ offer.title }}</a></span>
                  <span class="mt-3 h3">{{ offer.price }}</span>
                  <span class="mt-3 h3 gray">{{ offer.address }}</span>
                </div>
              </div>
            </div>
          </slick>
        </div>
      </b-container>
    </div>
    <div class="footer-grey ">
      <b-container class="footer  p-3">
        <b-row class="align-items-center">
          <b-col cols="auto" class="mr-auto">
            <b-navbar-brand href="MAIN-PAGE.html" class="logo-grey">
              <img src="./img/main/logo-grey.svg" alt="" class="logo_img" />
            </b-navbar-brand>
            <span class="copyright">&copy; 2019</span>
          </b-col>
          <b-col cols="auto">
            <b-navbar toggleable="lg" type="light">
              <b-navbar-nav>
                <b-nav-item href="#" class="underline">Написать в поддержку
                </b-nav-item>
                <b-nav-item href="#" class="underline">Система вознаграждений
                </b-nav-item>
              </b-navbar-nav>
            </b-navbar>
          </b-col>
        </b-row>
      </b-container>
    </div>
  </div>
  <script src="./dist/bundle.js"></script>
</body>

</html>